[2020-07-16 12:17] teddylfwu opened #2 "@saizhuo: create first graph4nlp.graphdata - most basic functions"

[2020-07-16 12:46] teddylfwu opened #3 "@shucheng: create first graph construction module - Constituency Graph Class"
1) define GraphConstructionBase
2) implement constituency graph class

[2020-07-16 13:29] teddylfwu opened #4 "@Yu Chen: create graph construction model - basic classes and embedding classes"
1) create graph4nlp library folder structure
2) graph construction model - base classes (except static base)
3) utils: Vacab class
4) graph construction - embeddings classes

[2020-07-16 13:42] teddylfwu opened #5 "@Yu Chen: create graph embedding module - basic classes"
1) define all graph embeddings: base classes

[2020-07-16 13:44] teddylfwu opened #6 "@hanning: create first graph embedding component - GGNN class"
1) implement ggnn class

[2020-07-16 13:48] teddylfwu opened #7 "@xiaojie: create first graph prediction module - node classification class"
1) define prediction.classification base class
2) implement node classification class
     - FeedForwardNN
     - BiLSTMFeedForwardNN

[2020-07-16 13:50] teddylfwu opened #8 "@Shen: create first evaluation module - most of evaluation metrics"
1) define evaluation base class
2) implement classification metric class (most)
3) implement generation metric class (most)

[2020-07-17 19:20] teddylfwu opened #11 "@Yu Chen create second graph embedding component - GAT class"
- [] refine the graph embedding base class
- [] implement gat class

[2020-07-19 14:51] teddylfwu opened #23 "@Yu Chen: Improve graph construction - Dynamic graph, embedding method, vocab"
- Dynamic graph construction class (Yu Chen)
add raw_text_data_to_init_static_graph method

- EmbeddingConstruction class (Yu Chen)
improve doc_string
node_edge_level_emb_type
Graph_level_emb_type

- Vocab class (Yu Chen)
Collect_vocabs
Input data: raw text & init graph
Note: build vocab in data_loader, input all data (raw text sequence and initial graph)

[2020-07-19 14:52] #4 closed, assigned to hugochan

[2020-07-19 14:54] #3 closed, assigned to schenglee

[2020-07-19 14:54] #5 closed, assigned to hugochan

[2020-07-19 14:55] #8 closed, assigned to AlanSwift

[2020-07-19 15:00] teddylfwu opened #24 "@Shu Cheng: improve graph construction - constituency tree, Add embeddings and other methods"
Static graph construction class (shucheng)
- Add embeddings and other methods
- Use graph4nlp graph structured data to rewrite current codes (wait for one day)

[2020-07-19 15:05] teddylfwu opened #25 "@Xiaojie: create third graph embedding component - GraphSAGE class"
- graphsage class implementation
- both graphsage class and graphsagelayer class

[2020-07-19 15:11] teddylfwu opened #26 "@Shen Kai: create second static graph construction - Dependency parse tree"
- static graph constr - dependency parse tree classes

[2020-07-19 15:14] teddylfwu opened #27 "@han ning: create second classification module - knowledge graph embedding class"
- both high-level and low-level calsses

[2020-07-20 14:53] #7 closed, assigned to xguo7

[2020-07-23 21:03] #2 closed, assigned to SaizhuoWang

[2020-07-23 21:05] teddylfwu opened #39 "@sai zhuo: Fully implement all functions required by other components"
- implement dgl grpah data to graph4nlp graph data
- implement similar interfaces for edges

[2020-07-23 21:06] teddylfwu opened #40 "@sai zhuo: implement data loader"
- complete basic data loader so we can start have fully end-to-end system for testing

[2020-07-23 21:07] #26 closed, assigned to schenglee

[2020-07-23 21:07] #24 closed, assigned to AlanSwift

[2020-07-23 21:09] #11 closed, assigned to hugochan

[2020-07-23 21:10] #6 closed, assigned to Nicoleqwerty

[2020-07-23 21:13] #23 closed, assigned to teddylfwu

[2020-07-23 21:16] teddylfwu opened #41 "@Yu Chen: implement dynamic class"
- complete all three dynamic classes

[2020-07-23 21:18] teddylfwu opened #42 "@Xiaojie: implement link prediction classes"
- implement link prediction classes

[2020-07-23 21:19] teddylfwu opened #43 "@shen kai: implement sequence decoders"
- implement sequence decoders

[2020-07-23 21:20] teddylfwu opened #44 "@shu cheng: implement tree decoders"
- implement tree decoders

[2020-07-23 21:48] #25 closed, assigned to nobody

[2020-07-24 10:02] teddylfwu opened #48 "@hanning: add testing results for ggnn and testing codes for kg completion"
- add ggnn_results. md
- add testing codes for kg completion, should be in a separate folder

[2020-07-24 10:03] teddylfwu opened #49 "@hanning: implement ie graph construction"
- implement IE graph construction

[2020-07-24 10:03] #27 closed, assigned to nobody

[2020-07-24 10:05] teddylfwu opened #50 "@yu chen: submit a new pull request from develop to master"
- submit a new pull request from develop to master

[2020-07-26 04:29] #48 closed, assigned to nobody

[2020-07-26 04:30] #50 closed, assigned to nobody

[2020-07-26 04:34] teddylfwu opened #57 "@Yu Chen: fully implement Dynamic graph construction"
- Dynamic graph construction: (Yu Chen)
i) Add raw_text_to_init_graph method for all dynamic graph construction classes.
ii) Explore other similarity metric learning & graph sparsification techniques, and add graph regularization techniques. (Move to base class)
iii) Improve doc_string.
iv) Even later
     - Complete test on realistic text datasets.
     - NodeEdgeEmbeddingBasedGraphConstruction.

[2020-07-26 14:15] teddylfwu opened #58 "@xiaojie: implement generalLoss"
- Discuss with nanning for loss base class
- implement generalLoss

[2020-07-26 14:15] teddylfwu opened #59 "@haning: implement KGLoss"
- Discuss with xiaojie for loss base class
- implement KGLoss

[2020-07-26 14:15] #49 closed, assigned to nobody

[2020-07-26 14:16] #42 closed, assigned to nobody

[2020-07-26 14:16] #41 closed, assigned to nobody

[2020-07-29 14:19] #58 closed, assigned to nobody

[2020-07-30 02:47] #39 closed, assigned to hugochan

[2020-07-31 02:44] #59 closed, assigned to nobody

[2020-07-31 02:46] #57 closed, assigned to nobody

[2020-07-31 02:52] teddylfwu opened #65 "@kai shen: for responsible components, replace other temp graph structure with graph4nlp graphdata"
- for responsible components, replace other temp graph structure with graph4nlp graphdata
- code review time: 08/01 10-12pm EST time and 08/02 8-10am EST time

[2020-07-31 02:53] teddylfwu opened #66 "@shucheng: for responsible components, replace other temp graph structure with graph4nlp graphdata"
- for responsible components, replace other temp graph structure with graph4nlp graphdata
- code review time: 08/01 10-12pm EST time and 08/02 8-10am EST time

[2020-07-31 02:53] teddylfwu opened #67 "@xiaojie: for responsible components, replace other temp graph structure with graph4nlp graphdata"
- for responsible components, replace other temp graph structure with graph4nlp graphdata
- code review time: 08/01 10-12pm EST time and 08/02 8-10am EST time

[2020-07-31 02:54] teddylfwu opened #68 "@hanning: for responsible components, replace other temp graph structure with graph4nlp graphdata"
- for responsible components, replace other temp graph structure with graph4nlp graphdata
- code review time: 08/01 10-12pm EST time and 08/02 8-10am EST time

[2020-07-31 02:55] teddylfwu opened #69 "@yu chen: for responsible components, replace other temp graph structure with graph4nlp graphdata"
- for responsible components, replace other temp graph structure with graph4nlp graphdata
- code review time: 08/01 10-12pm EST time and 08/02 8-10am EST time

[2020-07-31 02:56] teddylfwu opened #70 "@yu chen: implement prediction - graph-level classification"
- implement prediction: graph-level classification classes

[2020-07-31 02:57] teddylfwu opened #71 "@hanning: implement graph embedding - gcn"
- implement last graph embedding - gcn classes

[2020-07-31 02:58] #43 closed, assigned to nobody

[2020-08-09 15:09] #44 closed, assigned to teddylfwu

[2020-08-09 15:09] #65 closed, assigned to teddylfwu

[2020-08-09 15:11] #67 closed, assigned to nobody

[2020-08-09 15:11] #68 closed, assigned to nobody

[2020-08-09 15:11] #69 closed, assigned to nobody

[2020-08-09 15:11] #70 closed, assigned to nobody

[2020-08-09 18:41] #40 closed, assigned to nobody

[2020-08-09 18:42] #66 closed, assigned to teddylfwu

[2020-08-09 18:44] teddylfwu opened #88 "@saizhuo: fix all potential bugs in graph data and data loader"
- fix bugs like batch issue in graph data
- fix bugs in data loader if any

[2020-08-09 18:50] teddylfwu opened #89 "@yu chen: create the example codes for end-to-end pipeline training/testing for graph-level classification"
- create the example codes for end-to-end pipeline training/testing for graph-level classification
- requirements:
  - find a NLP task requiring graph-level classification such as sentence/document classification
  - fully test all graph construction methods (static and dynamic)
  - fully test all graph embeddings methods (ggnn, graphsage, gat)

[2020-08-09 18:52] teddylfwu opened #90 "@xiaojie: create the example codes for end-to-end pipeline training/testing for node classification"
- create the example codes for end-to-end pipeline training/testing for node classification
- requirements:
  - find a NLP task requiring node classification such as name entity recognition or other more popular task
  - fully test all graph construction methods (static and dynamic)
  - fully test all graph embeddings methods (ggnn, graphsage, gat)

[2020-08-09 18:54] teddylfwu opened #91 "@xiaojie: create the example codes for end-to-end pipeline training/testing for link prediction"
- create the example codes for end-to-end pipeline training/testing for link prediction
- requirements:
  - find a NLP task requiring link prediction such as relation extraction or other popular task
  - fully test all graph construction methods (static and dynamic)
  - fully test all graph embeddings methods (ggnn, graphsage, gat)

[2020-08-09 18:55] teddylfwu opened #92 "@hanning: create the example codes for end-to-end pipeline training/testing for kg embeddings"
- create the example codes for end-to-end pipeline training/testing for kg embedding
- requirements:
  - find a NLP task requiring kg embeddings (find a popular task)
  - fully test all graph construction methods (static and dynamic)
  - fully test all graph embeddings methods (ggnn, graphsage, gat)

[2020-08-09 18:57] teddylfwu opened #93 "@kai: create the example codes for end-to-end pipeline training/testing for sequence generation"
- create the example codes for end-to-end pipeline training/testing for sequence generation
- requirements:
  - find a NLP task requiring sequence generation such as semantic parsing or other popular tasks
  - fully test all graph construction methods (static and dynamic)
  - fully test all graph embeddings methods (ggnn, graphsage, gat)

[2020-08-09 18:58] teddylfwu opened #94 "@shucheng: create the example codes for end-to-end pipeline training/testing for tree decoder"
- create the example codes for end-to-end pipeline training/testing for tree decoder
- requirements:
  - find a NLP task requiring tree decoder such as semantic parsing/word math problems or other popular tasks
  - fully test all graph construction methods (static and dynamic)
  - fully test all graph embeddings methods (ggnn, graphsage, gat)

[2020-08-13 14:59] teddylfwu opened #98 "@saizuo: dataset bug fix"
- TextToText -> Text2Text
- Support convention inputs train/val/test files
- Only use train/val to get vacab

[2020-08-16 15:01] #98 closed, assigned to nobody

[2020-08-16 15:09] teddylfwu opened #103 "@shucheng and kai: quick fix graph-level embedding and graph construction return graph"
- Implement graph-level embedding using options “max-pool” or “min-pool” or “mean-pool”.
- Replace dgl graph with our graph in graph construction return

[2020-08-20 14:15] schenglee opened #112 "A bug in ``graph4nlp/graph4nlp/pytorch/data/utils.py``"
A bug when running jobs example.

[code]

Should the method ``entail_zero_padding`` be revised as follows?

[code]

[2020-08-22 00:36] #88 closed, assigned to nobody

[2020-08-22 00:37] teddylfwu opened #124 "@saizhuo: fix bugs in graph data"
This is the main issue thread for fixing bugs related to graph data

[2020-08-22 00:38] teddylfwu opened #125 "@saizhuo: fix bugs in dataset"
This is the main issue thread for fixing bugs related to dataset class

[2020-08-22 00:39] #103 closed, assigned to nobody

[2020-08-25 12:54] Nicoleqwerty opened #137 "run summarization/cnn/main.py with PyTorch 1.3.1 and get warnings repeatedly"
/pytorch/aten/src/ATen/native/cuda/LegacyDefinitions.cpp:54: UserWarning: masked_scatter_ received a mask with dtype torch.uint8, this behavior is now deprecated,please use a mask with dtype torch.bool instead.
/pytorch/aten/src/ATen/native/cuda/LegacyDefinitions.cpp:67: UserWarning: masked_select received a mask with dtype torch.uint8, this behavior is now deprecated,please use a mask with dtype

[2020-08-30 04:15] #112 closed, assigned to SaizhuoWang

[2020-09-06 05:25] #71 closed, assigned to Nicoleqwerty

[2020-09-06 05:25] #137 closed, assigned to nobody

[2020-09-06 05:25] #92 closed, assigned to nobody

[2020-09-17 02:09] #89 closed, assigned to nobody

[2020-09-17 02:09] #93 closed, assigned to nobody

[2020-10-18 14:20] #94 closed, assigned to nobody

[2020-11-29 15:50] #90 closed, assigned to nobody

[2021-06-07 05:24] #125 closed

[2021-06-07 05:24] #124 closed

[2021-06-07 05:24] #91 closed

[2021-06-07 05:40] gpengzhi opened #307 "CI/CD is missing"
Thanks for your wonderful job!

I notice that there is no CI/CD pipeline (unit test, lint test, etc.) in your project. As an NLP toolkit, I think it is extremely important to guarantee the correctness and readability of your code. Maybe you could consider adding those in your repo, which should be helpful for your future development.

[2021-06-07 06:14] AlanSwift commented on #307
Thanks for your suggestion. We will add the CI component soon.

[2021-06-08 03:51] #307 closed

[2021-06-09 17:01] maurovit opened #311 "Graph2Tree tutorial"
Hello,
I reproduced your tutorial about Semantic Parsing using Graph2Tree architecture on Jobs Data. The problem is that the accuracy that i get after training is lower than the result written in tutorial: in fact, i get an accuracy of 85% on test set while on tutorial is written that the accuracy should increase until ~92%. Why this? Is something changed? How can arrive at this results?

Thank yo

[2021-06-10 06:54] AlanSwift commented on #311
Hi, @maurovit . Could you please provide the concrete information so we can reproduce it? (please refer to the [issue template](https://github.com/graph4ai/graph4nlp/blob/feature-add_pr_issue_template/.github/ISSUE_TEMPLATE/bug-report.md) )
We are sorry for the inconvenience.
@schenglee will follow up it.

[2021-06-10 08:57] maurovit commented on #311
Hello everyone, first of all thank you for your reply and don't worry it's not a problem, i would just to know how i could optimize it.
However I followed your tutorial, I only changed the root directory in .yaml file and the GPU id in the args because the id of my gpu was 0 not 1. After that I used as data the data present in the repo at path graph2tree/jobs_data/raw. The accuracy that i get on t

[2021-06-10 09:22] YiweiJiang2015 opened #314 "The link to `Graph4nlp survey` is invalid"
Hi, great work and nice talk in NAACL! Could you renew the invalid link to `Graph4nlp survey`?

[2021-06-10 14:47] teddylfwu commented on #314
The survey paper link will be this weekend or early next week. Please stay tuned!

[2021-06-10 15:10] #314 closed

[2021-06-11 01:34] schenglee commented on #311
@maurovit hi, it seems that this is caused by the word embedding matrix where the unknown token is not initialized correctly, [here](https://github.com/graph4ai/graph4nlp/blob/master/graph4nlp/pytorch/modules/utils/tree_utils.py#L253).

I have fixed it and you can pull the code from the ``develop`` branch and retest it.

Thank you for your feedback.

[2021-06-11 08:30] maurovit commented on #311
Thank you, and congrats for your work 😄

[2021-06-11 08:30] #311 closed

[2021-06-11 15:30] maurovit opened #316 "Graph2Tree model and prediction"
Hello,
I followed your tutorial about semantic parsing with graph2tree on Jobs Data and I have two question.
I wonder how can I manage model and new unseen data for prediction: in particular

1. how can I save the model after training? Should I use the classical torch instruction to save the model like
                        `torch.save(model.state_dict(), PATH)` or `torch.save(model, PATH)`
2. A

[2021-06-11 17:49] schenglee commented on #316
hi, @maurovit, thank you for your feedback. For the two questions,
- Yes, you can use ``torch.save`` to save your checkpoints.
- Yes, you should follow the ``eval`` method to do inference. For unseen data, you just need to remove the evaluation process.

[2021-06-13 03:12] #316 closed

[2021-06-14 13:39] maurovit commented on #316
Thank you @schenglee for your answer, but i have some doubts: i cannot fully understand how I can pass the data to the model for inference. In particular, for the evaluation I see that the model retrieves the data from the test data-loader, which is generate from JobsDatasetForTree. This is different from my goals: I want to pass to model a list of strings, preprocess these strings (according to t

[2021-06-14 14:47] maurovit opened #319 "Preprocess data for inference on Graph2Tree"
Hello everyone,
I want to ask something that is related to https://github.com/graph4ai/graph4nlp/issues/316#issue-918894490.
I cannot fully understand how I can pass the data to the model for inference.
In particular, for the evaluation in tutorial Graph2Tree about jobs data, I see that the model retrieves the data from the test data-loader, which is generate from JobsDatasetForTree, which gets da

[2021-06-14 15:02] AlanSwift commented on #319
During the inference stage, for unseen data, you can build another Dataloader (just as the training Dataloader) and pass it to the model.

[2021-06-14 15:07] maurovit commented on #319
Yes, that's true but the point is that i should get from dataloader these following items
`eval_input_graph, batch_tree_list, batch_original_tree_list = data['graph_data'], data['dec_tree_batch'], data['original_dec_tree_batch']`
How can I create that data?

[2021-06-14 15:20] AlanSwift commented on #319
Actually, it is automatically created when you build the dataloader. Please refer to the [code](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/semantic_parsing/graph2tree/jobs/src/runner.py#L129) in the example.
Specifically, when you initialize the instance ``self.test_data_loader``, it will read the raw text stored in [``raw_file_names``](https://github.com/graph4ai/graph4nlp

[2021-06-14 15:34] AlanSwift commented on #319
More details:
For your own test data, you can write them in a single file: "test.txt" with the format as follows: Each line is a sample and each sample is "A\tB" (A is input and B is output). Thus it can be parsed by the default parsing function in [``Text2TextDataset.parse_file``](https://github.com/graph4ai/graph4nlp/blob/a53bd803b5f85cd479b371e31940bc029e33ccb9/graph4nlp/pytorch/data/dataset.py

[2021-06-14 15:42] maurovit commented on #319
First of all, thank you for your reply.
But if I want to replicate this process for a single sentence, or a list of sentences, without using any text file? Is not possibile?
What I am asking for is a method for preprocess the input in the inference phase, not during evaluation phase. So for example, i want to input a sentence to the model and get the prediction. The problem is that i am stuck on t

[2021-06-14 15:55] maurovit commented on #319
Maybe my explanation is not clear. I had trained the model, and i had evaluated it against test data after that I saved it. Now I loaded this model and I want to use it to make prediction about unseen data (so data with no label) and I want to preprocess the sentences in input in the same way that i did during the evaluation/training stage. The problem is that the process is automated for the data

[2021-06-14 15:56] AlanSwift commented on #319
Currently, we are sorry that we don't support this feature.

But you can implement it by modifying the Text2TextDataloader's "read in" without too much effort.

A simple idea is to override the function ["read_raw_data"](https://github.com/graph4ai/graph4nlp/blob/a53bd803b5f85cd479b371e31940bc029e33ccb9/graph4nlp/pytorch/data/dataset.py#L400) according to your need. Maybe you can read in a simple

[2021-06-14 16:07] maurovit commented on #319
Got it. According to you, may I use the static function `_build_topology_process` to create the input graph for the network?

[2021-06-14 16:22] AlanSwift commented on #319
Yes, it is part of building the graph.
Note that there are other necessary steps (e.g., vectorization). If you want to decouple the training and inference stages, maybe you should read the code in [``_preprocess()``](https://github.com/graph4ai/graph4nlp/blob/a53bd803b5f85cd479b371e31940bc029e33ccb9/graph4nlp/pytorch/data/dataset.py#L659).
For simplicity, if you are not sure about how to decouple,

[2021-06-14 16:27] schenglee commented on #319
Thank you @maurovit ,  and @AlanSwift  is right.
We will refine the inference interface of the model in the next release.
For a temporary solution, I recommend you to append some inference string lines like ```the string input \t <TBD>``` to the ```test.txt``` file, and skip them in the evaluation process. You can translate them after you have complete training and model selection.  A example can

[2021-06-14 16:33] maurovit commented on #319
Thank you all, your suggestions are very precious. 🙏

[2021-06-14 16:37] AlanSwift commented on #319
Ok, I will close this issue, and feel free to ask us any questions.
Thank you again for your feedback. We will discuss this problem in our group meeting and improve it in the next version.

[2021-06-14 16:39] #319 closed

[2021-06-15 12:36] yogeshhk opened #321 "Error while running NER"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.  Run
`python examples/pytorch/name_entity_recognition/main.py   --graph_type dependency_graph --gpu 0 --init_hidden_size 400 --hidden_size 128  --lr 0.01 --batch_size 100 --gnn_type graphsage --direction_option undirected`

2. Getting
`TypeError: Can't instantiate abstract class ConllDataset with abstract methods download
`

## Expect

[2021-06-15 14:09] AlanSwift commented on #321
Thank you for giving us feedback.
We will check this issue asap.
@xguo7 will follow up it.

[2021-06-17 02:56] AlanSwift commented on #321
Could you please check whether the raw data exists in your computer (Please refer to https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/name_entity_recognition/conll/raw)?
Currently, the download function is not implemented, and the raw data should be downloaded in the repo. (The download function will be implemented in the future version.) We are sorry for the inconvenience.

[2021-06-17 03:17] yogeshhk commented on #321
I see 3 files there:
eng.train
eng.testa
eng.testb

Files and content looks fine with IOB data

[2021-06-17 08:47] AlanSwift commented on #321
We have conducted several tests on different computers with Windows 10 system and can't reproduce this problem.
May I ask under what path did you execute this command?

[2021-06-17 08:56] yogeshhk opened #323 "Additional Text Classification dataset"
## 🚀 Feature

Include Twitter Sentiment dataset for Text Classification sample

## Motivation

Twitter Sentiment dataset is popular for learning Text classification. Incorporating it here would help check effectiveness of GNNs with respect to existing Machine/Deep Learning approaches

## Pitch

Similar to 'Trec' dataset present, 'Twitter' dataset can be added.

## Additional context

The Twitter d

[2021-06-17 08:57] yogeshhk commented on #323
I am ready to volunteer for this submission

[2021-06-17 09:09] AlanSwift commented on #323
Welcome! Thank you for your interest and contribution!

[2021-06-17 09:18] yogeshhk commented on #321
At root of graph4nlp folder...which has been forked-cloned...from that path, the Text classifier examples work..Here is the call stack

[code]

[2021-06-17 09:34] AlanSwift commented on #321
This looks weird.
Could you please add the following code
`import os`
`print(os.path.exists(self.raw_dir))`
after https://github.com/graph4ai/graph4nlp/blob/9e1e3b5b83362ab4d8f14b06f7d8dcccc4662cc6/graph4nlp/pytorch/data/dataset.py#L393

[2021-06-17 09:39] yogeshhk commented on #323
@AlanSwift  As mentioned before, I can implement this and send it to you all for review via pull request

[2021-06-17 09:43] AlanSwift commented on #323
@yogeshhk Yes, I will review your pr. We are expecting your excellent contribution!

[2021-06-17 09:59] yogeshhk commented on #321
Its not hitting there....Let me debug further and I will keep you posted

[2021-06-17 11:24] yogeshhk commented on #321
in conll.py
[code]
Made it to work...but still I am not sure if this is good change...I will debug this more.

[2021-06-17 12:44] AlanSwift commented on #321
Actually, this function will not be executed. So I guess there must be some fault. Since we can't reproduce this problem, I suggest you debug it more. Thank you!

[2021-06-17 15:36] SaizhuoWang commented on #321
To make it clearer, when instantiating a Dataset (in this case the ConllDataset), the library will check if the raw data are present in the environment, in this case the `raw` directory and the contents in it, which is specified in the `raw_file_names` property. If the raw data is not present, the `download` method will be called to download the raw data. In this case the `download` method is not

[2021-06-18 01:53] yogeshhk opened #325 "Error while parsing line"
## 🐛 Bug

Error may occur while parsing training dataset lines.

## To Reproduce

Steps to reproduce the behavior:

1. Get dataset with some non-formatted lines, meaning TAB separated lines
2. Try to run Text Classifier
3. Errors out from the operation fully.

## Expected behavior
Skip the error line and proceed with other lines.

## Possible Solution

Should it be addressed in graph4nlp\pytorch\d

[2021-06-18 02:59] AlanSwift commented on #325
If you want to parse your own dataset, you should create a new dataset class that inherits our ``Dataset`` and override the parse function. We would address this problem in the coming version's the documents.

[2021-06-18 03:43] yogeshhk opened #326 "Inferencing from Text"
## ❓ Questions and Help

Looking at evaluating TextClassifier from

`python examples/pytorch/text_classification/run_text_classifier.py -config examples/pytorch/text_classification/config/trec/ggnn_bi_fuse_constituency.yaml`

run_text_classifier 'main()' does training and testing using data loaders.

Wish to test the trained model, by supplying sample text directly. meaning, can I predict label by

[2021-06-18 04:08] AlanSwift commented on #326
``TextClassifier`` only receives the ``GraphData`` object (not the raw texts).

As we discussed in [#319 (issue)](https://github.com/graph4ai/graph4nlp/issues/319), currently this feature is natively supported. If you want to decouple the training and inference stages, you could implement it by constructing the ``GraphData`` given raw text inputs during inference.

[2021-06-20 14:42] AlanSwift commented on #321
I will close this issue.

[2021-06-20 14:42] #321 closed

[2021-06-20 14:54] AlanSwift commented on #325
This will be an important feature for the next coming version.

[2021-06-20 14:59] #325 closed

[2021-06-20 15:00] AlanSwift commented on #326
It will be an important feature in the next version. Thank you!

[2021-06-20 15:00] #326 closed

[2021-06-26 09:38] over-shine opened #327 "run example nmt/main.py --name test throw error RuntimeError: Trying to resize storage that is not resizable at ..\aten\src\TH\THStorageFunctions.cpp:87"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. run python examples/pytorch/nmt/main.py --name test

Using backend: pytorch
[ Using CUDA ]
2021-06-26 17:33:13.644323: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library cudart64_110.dllLoading pre-built vocab model stored in examples/pytorch/nmt/data\processed\NodeEmbGraph\vocab.pt
202

[2021-06-26 23:05] yogeshhk opened #328 "GPU flag in NER tutorial"
## 🐛 Bug

In the given tutorial sample program

`python examples/pytorch/name_entity_recognition/main.py   --graph_type dependency_graph --gpu 0 --init_hidden_size 400 --hidden_size 128  --lr 0.01 --batch_size 100 --gnn_type graphsage --direction_option undirected`

Option for gpu given is '0'. Simple interpretation is that its for NO GPU ie CPU. On a CPU machine `--gpu 0` gives error that Pytorch

[2021-06-27 14:37] AlanSwift commented on #327
We are trying to reproduce this bug.
It may be caused by the spawn library. For the temporary solution, you can change this [Line](https://github.com/graph4ai/graph4nlp/blob/9e1e3b5b83362ab4d8f14b06f7d8dcccc4662cc6/examples/pytorch/nmt/main.py#L128) 's ``num_workers`` parameter to 0 (same for the validation and testing dataloaders).
Currently, we highly recommend you use the Linux platform for thi

[2021-06-27 14:40] AlanSwift commented on #328
Thank you for your suggestion!
From our design, ``--gpu -1`` means the ``cpu`` choice. And the ``--gpu 0``behaves as  ``gpu`` with ID 0.

[2021-06-27 15:25] Nicoleqwerty commented on #323
Hi @yogeshhk, could you please offer a download link to the processed Twitter Sentiment dataset which can be downloaded directly using **wget**? Due to storage limitations, we will not add any more datasets to our repo. Thank you!

[2021-06-27 23:04] yogeshhk commented on #323
Ok, got it. Thanks for the response.

[2021-06-27 23:04] #323 closed

[2021-06-27 23:05] yogeshhk commented on #328
Ok, got it. Thanks for the response.

[2021-06-27 23:05] #328 closed

[2021-07-06 03:23] yogeshhk opened #332 "Tolerant file parsing"
## 🐛 Bug

Strict whitespace formatting is needed for IOB data file. Can it be relaxed to have any number of whitespaces including tabs.

## To Reproduce

Steps to reproduce the behavior:

1. Have tab separated IOB file
2. Data does not get read.
3. No processing happens

## Possible solution
 In graph4nlp\pytorch\data\dataset.py in parse_file()  in place of

[code]

can it be:

[code]

## Environm

[2021-07-07 03:29] yogeshhk opened #333 "Approach/paper for NER?"
## ❓ Questions and Help

Wish to know which approach has been taken, or which paper has been referred while implementing Named Entity Recognition (NER) in graph4nlp?

[2021-07-07 03:35] yogeshhk opened #334 "Graph Encoder Decoder"
## ❓ Questions and Help

Is it possible to have supervised end-to-end Graph neural network for Encoder-Decoder architecture, where both, input and output graphs are of different topology.

Example: Summarization, when both, original text and its summary are modeled as graphs with different topologies.

Does DGL or Graph4nlp support such supervised learning architecture?

If yes, there is another u

[2021-07-07 15:47] xguo7 commented on #333
Thanks for your interest in this library. The implementation of NER task is mainly based on the paper: GraphIE: A Graph-Based Framework for Information Extraction (https://aclanthology.org/N19-1082.pdf). The results reported are without CRF module.

[2021-07-07 15:48] xguo7 commented on #333
Thanks for your interest in this library. The implementation of NER task is mainly based on the paper: GraphIE: A Graph-Based Framework for Information Extraction (https://aclanthology.org/N19-1082.pdf). The results reported are without CRF module.

[2021-07-08 01:24] yogeshhk commented on #333
Thanks for the reference to the paper.

[2021-07-08 01:24] #333 closed

[2021-07-08 06:29] SanketTijare opened #340 "Graph4NLP Text classification"
## ❓ Questions and Help

You have added this "Graph Convolutional Networks for Text Classification" paper to the Literature, did you also implemented this with graph4Nlp. [link] : (https://ojs.aaai.org//index.php/AAAI/article/view/4725)

Also, is there a way so that we can build our own Graph/Topology or any example/demo where we can see that.

[2021-07-08 13:02] hugochan commented on #340
@SanketTijare Thanks for your interest to the graph4nlp library! We did not implement the AAAI19 paper you mentioned. But we do have a text classification implementation in our example code ([link](https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/text_classification)).

Yes, you can build your own graph construction module by inheriting `StaticGraphConstructionBase` ([example](ht

[2021-07-08 13:47] SanketTijare commented on #340
@hugochan Thanks for the quick response.

I was going through the paper, and it has its different topology to build the graph. They have solved the text-classification as Node Classification, so was wondering if you have some examples on similar lines. Are you planning to implement that topology, else need to build my own with inheriting `StaticGraphConstructionBase`.

[2021-07-09 06:39] AlanSwift commented on #332
Thanks for your valuable advice! We are sorry for the late reply.
However, I can't fully understand your point. It seems the default separator in ``str.split()`` is any whitespace and we actually use `` ``(blankspace). Is this the problem?

[2021-07-09 06:58] AlanSwift commented on #334
Thanks for your valuable opinion.
I think you mean the graph-to-graph applications, in which one cast the inputs (texts, graphs, etc.) to graph and then predicts another graph as output.
If yes, we highly recommend you our survey paper: [Graph Neural Networks for Natural Language Processing: A Survey](https://arxiv.org/abs/2106.06090). We have comprehensively discussed this topic.
As for the code,

[2021-07-09 07:00] #327 closed

[2021-07-09 08:46] yogeshhk opened #341 "Need data loader for sentences"
## 🚀 Feature

A class which will take sentences, populate dataset having graph topology built into it and also create data loader, ready to be used for inferencing

## Motivation

As discussed in issues #319 and #316 for doing inferencing we need data loader populated from text/sentences. Currently all data loaders are populated from files such as train and test. We can not give just sentences to

[2021-07-09 08:47] yogeshhk commented on #332
Found issue if sometimes tabs are present or sometime multiple spaces are present between word and label.

[2021-07-09 08:56] AlanSwift commented on #341
This feature is under development now.
Please refer to this [example](https://github.com/graph4ai/graph4nlp/blob/develop/examples/pytorch/semantic_parsing/graph2seq/inference.py) to follow up the newest inference pipeline.
In this example, users can only use pretrained checkpoint and their own test cases to do inference.

However, what does "No actual predicted label is available" mean?

[2021-07-09 08:59] AlanSwift commented on #332
Ok. However, we will discuss this problem in our meeting since this change may affect the existing examples.
Notes: We highly recommend you inherit the Dataset's parse_file() function the default parsing function can't meet your need.

[2021-07-09 09:09] AlanSwift commented on #341
Further explanation about the inference pipeline:
1. In the newest [demo](https://github.com/graph4ai/graph4nlp/blob/develop/examples/pytorch/semantic_parsing/graph2seq/inference.py), the users need to store their own test cases in a single file named "test.txt" in an [independent folder](https://github.com/graph4ai/graph4nlp/tree/develop/examples/pytorch/semantic_parsing/graph2seq/jobs_inference/

[2021-07-09 09:18] #332 closed

[2021-07-09 09:57] yogeshhk commented on #341
For NER, would like to have not tags but actually labels as out put. Eg.

[code]
I did not find any way to get such output.

[2021-07-09 10:01] AlanSwift commented on #341
Ok. I will involve @xguo7. She is responsible for this example.

[2021-07-09 13:47] hugochan commented on #340
@SanketTijare As you mentioned, that paper constructed a single graph for the whole corpus and performed node classification. Because this is kind of application-driven and we want to prioritize major improvements because of limited budget, unfortunately, we are not planning to implement their approach in the near future.

Hopefully, it should be straightforward to build your own graph topology bu

[2021-07-10 14:28] xguo7 commented on #341
Hello,

Currently we do not implement the NER as a model function in the library, but an outside example code. If you would like to find ways to get the label from the tags in this example, you could refer to the file :    "/examples/pytorch/name_entity_recognition/conlleval.py". Thanks for your attention, we will consider adding the NER as a model function in the next version.

Best,
Xiaojie

[2021-07-11 16:28] AlanSwift commented on #334
I will close this issue.

[2021-07-11 16:28] #334 closed

[2021-07-11 16:29] AlanSwift commented on #340
I will close this issue.

[2021-07-11 16:29] #340 closed

[2021-07-12 02:29] #341 closed

[2021-07-12 17:59] maurovit opened #347 "How load vocabulary"
## ❓ Questions and Help
Hello,
I noticed that everytime i start the network graph2tree (on jobs dataset) the network needs to read all the trainset to build the vocabulary, that is very time-consuming as process. How could I load vocabulary in a faster way without the need of training set?
Thank you

[2021-07-14 15:11] schenglee commented on #347
Hi, we have fixed it in #331 in the ``develop`` branch, you just need to reinstall the library from that branch.

[2021-07-16 12:03] yogeshhk opened #351 "Any Regression example?"
## ❓ Questions and Help

Is there any example, with supervised learning learning dataset having, sentences and corresponding scores (float)?

train.csv:
[code]

If there is nothing as ready example, which steps do you suggest to accomplish this?

[2021-07-17 02:10] AlanSwift commented on #351
Thank you for your consistent interest in our project!
It seems that you propose a regression problem. However, I'm sorry that there is no direct solution in our examples. But I can give you my insights and I hope that they can help you.
You can borrow the idea from text classification (the last softmax layer can be removed to fit your output and use MSE loss). Concretely, you can employ graph con

[2021-07-19 13:52] AlanSwift commented on #351
I will close this issue.

[2021-07-19 13:52] #351 closed

[2021-07-27 08:14] maurovit commented on #347
Hello,
first of all, thank you. I have a doubt, I hope that you can help me: as I said previously I need to load vocab so that I can avoid the time spent to rebuild it at the building of the network but I need also to make inference in a way that is similar to the following

`pred = model.predict('Some sentence')`

how can I do that, or which branch I can refer to do this? Cause now I'm doing infe

[2021-07-27 08:34] AlanSwift commented on #347
We are really sorry for the inconvenience. We know that this is an urgent issue we need to solve.
In our plan, this is the **NEXT TODO** feature.
TODO 1: Currently, we plan to lint the code (add some CI) and the documentation (especially the user-guide) and we will release it in the next version in one month. In addition, we will come up with a compromise solution, which use only testing data and

[2021-07-27 11:06] maurovit commented on #347
It's not a problem, thank you for your reply. It's a great work.
Maybe if you can give me suggestions about things that I can modify to implement the inference process (maybe extending or overriding some methods) I will be very grateful.

[2021-07-28 02:32] AlanSwift commented on #347
Sure. You are welcome to contribute to this project! We highly appreciate your interest and efforts!
I can give you a brief introduction about the pipeline: "output = mode.predict(sentence or list of sentences)".
1. call ``self.graph_topology`` to build the raw graph data topology.
2. call the vectorization in the [dataset](https://github.com/graph4ai/graph4nlp/blob/c10007afb54c0d84170cdbaac1d4d65

[2021-07-28 02:32] AlanSwift commented on #347
I will reopen this issue.

[2021-07-29 09:22] chris-opendata opened #371 "UnpicklingError when trying KDD2021_demo's semantic_parsing in jupyter notebook"
## 🐛 Bug

When trying KDD2021_demo semantic_parsing in jupyter notebook, I got the following error upon "Run the model"
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Following the instructions by the site to open semantic_parsing.
2. Running through code segments.
3. The error occurred when running "Run the model" code segment.

## Expected behavior

Don't expect the error.

## Env

[2021-07-29 09:32] chris-opendata commented on #371
Closed it and relodge in https://github.com/graph4ai/graph4nlp_demo

[2021-07-29 09:32] #371 closed

[2021-08-13 09:44] gianlucamacri opened #382 "Hard coded word embedding size in vocab_utils.py"
## 🐛 Bug

In the file [/graph4nlp/pytorch/modules/utils/vocab_utils.py](https://github.com/graph4ai/graph4nlp/blob/master/graph4nlp/pytorch/modules/utils/vocab_utils.py) the init function of  WordEmbModel has the number 300 hardcoded for selecting the cache file when GloVe is used.

<pre>
class WordEmbModel(Vectors):
    def __init__(self, pretrained_word_emb_name="840B", pretrained_word_emb_url=N

[2021-08-14 02:11] AlanSwift commented on #382
Thank you for letting us know. Yes, we will fix it soon!

[2021-08-16 11:12] saneshashank opened #396 "difference b/w pretrained_word_emb_name and emb_strategy ?"
## ❓ Questions and Help

Hi,

In the .yaml config files provided in example I can see that there are two tags "_pretrained_word_emb_name_" which for example can be set to 6B which use Glove to create node embeddings, however there is also another tag "_emb_strategy_" where you can define for example "w2v" or "bert" embeddings to be used for node embeddings. Does one of the tags supersedes the othe

[2021-08-16 12:23] AlanSwift commented on #396
Hi,

We are sorry for the unclarity. Yes, they are incompatible. ``pretrained_word_emb_name`` indicates the pre-trained embedding name which is only used when ``w2v`` is set. If you choose ``bert``, the ``pretrained_word_emb_name`` is superseded.

[2021-08-16 13:48] saneshashank commented on #396
Hi AlanSwift,

Many thanks for the clarification, that makes sense given the output that I was observing, It would be great if you guys can add a documentation section specifically for configuration items, in its current state its bit confusing.

[2021-08-16 13:48] #396 closed

[2021-08-16 13:50] AlanSwift commented on #396
Thanks for your advice! I will clarify it in our documentation.

[2021-08-20 09:47] saneshashank opened #400 "Error if emb_strategy is set to "w2v""
## 🐛 Bug

The following error occurs if you set "emb_strategy = 'w2v" in the embedding_style dictionary. (with pretrained_word_emb_name having some value example - "6B":

`graph4nlp\pytorch\data\data.py", line 844, in <listcomp>
    individual_features = [value[i, :self._batch_num_nodes[i]] for i in range(len(self._batch_num_nodes))]
TypeError: list indices must be integers or slices, not tuple`

[2021-08-20 13:56] saneshashank opened #401 "Why is build_vocab() called twice in Dataset class initialization ?"
## ❓ Questions and Help

Hi,
I noticed that build_vocab() has been called twice in class initialization of Dataset class, it is called once from self._process() (line 363, dataset.py) and then again in the end separately (at line 372). Is it because of some reason or is it a miss ??

[2021-08-24 07:25] nishanthcgit opened #405 "Datasets/tasks to show gnn usefulness vs other methods"
## ❓ Questions and Help

Hi all, I've been experimenting with graph4nlp and so far its been great. I've been learning a lot and really appreciate all the features built so far. As a new entrant to graph neural nets its been really easy to pick up.
While taking a look at the benchmarks though I had a question - when we compare bleu scores/whatever metric got using GNNs vs SotA approaches like trans

[2021-08-27 18:24] 12seetharaman opened #406 "How to predict edges for a Null graph?"
I'm working on an information retrieval problem from the tables. Taking all the cells in a table as a node. Now, I want to predict all connections (edges) between cells (nodes).
Is there any way to do it with dlg4nlp?

[2021-08-27 23:43] xiao03 commented on #405
Hey @Nicoleqwerty, thanks for the questions. We are now on this issue. Please stay tuned for a response!

[2021-08-27 23:44] xiao03 commented on #401
Hey @saneshashank, thank you for letting us know. We are currently working on this issue. Stay tuned for a future update!

[2021-08-27 23:47] xiao03 commented on #400
Hey @saneshashank, sorry for this late reply. We are now working on it.

[2021-08-28 23:43] hugochan commented on #405
@nishanthcgit thanks for your interest to our library! Personally, I did observe GNN-based models outperformed transformer-based models in many NLP applications [[1](https://openreview.net/pdf?id=zv-typ1gPxA), [2](https://arxiv.org/pdf/2004.06015.pdf)] because the former could better utilize the rich structure of the input data.

Can you please share more details about your findings? For example,

[2021-08-28 23:47] hugochan commented on #406
@12seetharaman thanks for your interest to our library! Regarding your use case, you might want to take a look into dynamic graph construction which can jointly learn graph structure and graph representations with respect to the downstream prediction task. You might want to follow this [example](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/text_classification/run_text_classif

[2021-08-29 03:03] hugochan commented on #400
@saneshashank Thanks for reporting the bug! We reproduced the reported bug following the suggested setting. A fix PR #407 was submitted which should be merged to the develop branch soon. We will be releasing a new version to the master branch very soon. Please stay tuned.

Closed this issue. Please feel free to reopen it if you still observe the error.

[2021-08-29 03:03] #400 closed

[2021-08-29 12:43] schenglee commented on #401
Hi, @saneshashank, thanks for your feedback, we have fixed it in #331, please reinstall lib from branch ``develop`` (install by source code).

[2021-09-01 18:52] gianlucamacri opened #418 "non deterministic behaviour using graphsage and pool"
I'm currently facing issues som while using graphsage as gnn and graphsage_aggreagte_type equal to 'pool': despite tsetting seeds and using a single worker to achieve a deteministic behaviour i cannot succeed in that. On the other hand, when using other aggregation types (mean, lstm and gcn) I am able reproduce the same exact results. So I was wondering if I am missing some additional steps or if

[2021-09-03 18:33] tomasonjo opened #419 "Kinship KG example"
I am trying to run the Kinship KG example, but I find it confusing. The raw data contains test,train,and validate text files. If I run the kinship preprocess example:

`python examples/pytorch/kg_completion/kinship_main.py --data kinship --model ggnn_distmult --preprocess
`

I get the following error:

Which is understandable as there is no file in there. Now I think, ok, so I must have already th

[2021-09-03 18:39] tomasonjo commented on #419
nevermind, there is also a `preprocess.sh` that could be added to https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/kg_completion readme

[2021-09-04 07:03] AlanSwift commented on #418
Thank you for pointing out the problem!
We are currently looking for possible bugs, please stay tuned!

[2021-09-04 07:29] Nicoleqwerty commented on #419
Thank you for your question. You can now run through the code, but don't know how to add new datasets?
For bring your own data to KG completion, you must have the original files in the format of ``examples/pytorch/kg_completion/data/kinship/train.txt``, ``valid.txt`` and ``test.txt``, which a triple in a line is split by tab. Then, run ``python examples/pytorch/kg_completion/wrangle_KG.py YOURDATA

[2021-09-04 07:41] tomasonjo commented on #419
thank you very much, I'll give it a go!

[2021-09-08 14:27] AlanSwift commented on #382
This bug has been fixed in the develop branch. Thus I will close it and please feel free to ask questions if you still have any problems.

[2021-09-08 14:27] #382 closed

[2021-09-08 14:39] xiao03 commented on #401
Issue resolved and closed.

[2021-09-08 14:39] #401 closed

[2021-09-08 14:39] xiao03 commented on #405
Issue closed due to no response from the user.

[2021-09-08 14:39] #405 closed

[2021-09-08 14:40] xiao03 commented on #406
Issue resolved and closed.

[2021-09-08 14:40] #406 closed

[2021-09-08 20:34] 12seetharaman commented on #406
Thanks, @hugochan, Really helpful!

[2021-09-29 14:34] xiao03 commented on #419
This issue is solved and will be closed. Please feel free to reopen this issue on any further questions.

[2021-09-29 14:34] #419 closed

[2021-10-01 13:04] j-rossi-nl opened #426 "More efficient BertEmbeddings"
## 🚀 Feature

## Motivation
I'm using a graph where each node holds a long text (up to 60k works). The current implementation of BertEmbeddings would only create Out-of-Memory issues.
* the inputs to the Bert model are not batched
* the mapping matrix cant be hold in memory
* the tokenization is done on the fly
* only BERT can be used, as it is hardcoded with `BertModel.from_pretrained(...)`
* Ber

[2021-10-05 15:35] dbanka opened #428 "Can we create a graph model for all of our contextual data and then use the same graph to train all our downstream models?"
In the examples mentioned in the demo, we saw that graph construction was done while training the specific use case like classification. Is there a way, we can construct graph on whole of our contextual data and then use that graph for our downstream applications like classification, knowledge graph completion etc.?

[2021-10-06 07:22] AlanSwift commented on #426
Thank you for your interest and contribution. We will discuss it asap.

[2021-10-06 07:26] AlanSwift commented on #428
Do you mean that the graph construction component should be disentangled from the pipeline such that it can be used for other applications? Eg, after we trained the classification app with the dependency graph, we can use the same graph to train another app without constructing the graphs again?

[2021-10-06 07:28] dbanka commented on #428
Yes exactly.

[2021-10-06 07:33] AlanSwift commented on #428
OK. Currently, the processed graph data can be reused. You can just copy it to another project and load it to train another app. Do you encounter some problems?

[2021-10-06 07:36] AlanSwift opened #429 "[Roadmap] Graph4NLP v0.5.2 plan"
Task List
* [New Feature] Develop the inference wrapper: InferenceWrapper. Users can easily generate results by the wrapper with raw inputs. For example:
[code]
* [Feature] Develop StandfordNLP and tokenize template parameters.
* [Feature] Separate Graph topology and graph embeddings.

[2021-10-11 20:04] LucasAPayne opened #430 "StanfordCoreNLP Freezes"
## ❓ Questions and Help

I have a sentiment analyzer project that is very similar to the text classifier example. I trained it on the IMDb dataset that is provided by torchtext. It has 50,000 total movie reviews, and it is about 40 MB in size after I trim it down to about 35,000 reviews for a better split ratio. From the dataset, I created `train.txt`, `test.txt`, and `val.txt` and formatted the r

[2021-10-12 01:20] AlanSwift commented on #430
We are sorry for the inconvenience.
Could you provide your code (including data) and the error traceback?
In addition, could you give us your machine's information such as memory size? (I suggest you use the `top` command to monitor your memory usage and tell me the memory usage (e.g., graph4nlp memory usage: xx%, stanfordcorenlp memory usage: xx%) when the code crashes if possible.)

[2021-10-12 11:48] sandeepKondaveeti opened #431 "Queries related to the library for KG_Completion/Text Classification"
## ❓ Questions and Help

1. Can we use Numerical Labels for Text classification ?
2. Is GPU Mandatory to pre-process KG Completion?

Feel free to ask questions.

[2021-10-13 01:15] Nicoleqwerty commented on #428
@sandeepKondaveeti Hi, the graph used in KG Completion is a single ``graph4nlp.pytorch.data.dataGraphData`` object, while the ``data.pt`` file built by the ``graph_construction`` module is a dict object (in version 0.5) or a ``graph4nlp.pytorch.data.dataset.Dataset`` object (in version 0.4). I guess this leads to the **AttributeError**.

[2021-10-13 05:19] sandeepKondaveeti commented on #428
@Nicoleqwerty , Please let us know if there is a way to covert the dict object to a single [graph4nlp.pytorch.data.dataGraphData](url). We want to use the same graph for multiple applications.

[2021-10-13 15:31] Nicoleqwerty commented on #428
The dict is in the form of {'train': list of DataItems, 'test': list of DataItems, ...}. You can use DataItem.graph to access ``GraphData``.

[2021-10-14 05:18] sandeepKondaveeti commented on #428
@Nicoleqwerty Even we try to access GraphData for all the values in the dict  DataItem.graph, we will be having multiple graphs, my query is how can we combine all of the dataitems to single graph.

[2021-10-14 21:05] #430 closed, assigned to nobody

[2021-10-18 05:32] dbanka commented on #428
@Nicoleqwerty @AlanSwift
What my thought was that we can convert all our data relationships to graph embedding model using graph construction. Then given any use case be it KG completion or classification, we have we can use the same graph. Lets say I have 10 different types of entities and 20 types of relationships between them. I wanted to put all of the data into graph model and then if I want

[2021-10-19 08:27] Nicoleqwerty commented on #428
@dbanka Hi, you can check the example codes of  KG completion and text classification. They are two completely different tasks with different inputs. For KG completion, the input is a single KG and the goal of KG completion is to predict the missing links between entity nodes. For text classification, each input is a (text, label) pair. A text classification dataset has lots of pairs. Unlike KG, t

[2021-10-26 05:15] sandeepKondaveeti opened #439 "Facing an issue while creating an Inference for KGC using our dataset"
I am trying to create an inference for KGC and also saving the graph_embeddings, In the process I have done the relevant data formatting and creation of json files using [wrangle_KG.py](https://github.com/graph4ai/graph4nlp/blob/9e0de1d594d8b020bbfb53488dfaf1bb14b3b780/examples/pytorch/kg_completion/wrangle_KG.py), I have pre-processed the data to generate /home/~user/.data/{dataset} and the proce

[2021-10-30 07:38] Nicoleqwerty commented on #439
Hi, you need add "--resume" to your cmd to load the saved model. We will add a separate "inference.py" document in the next version.

[2021-10-31 14:05] xiao03 commented on #418
Close this issue due to inactivity. Please reopen it when necessary.

[2021-10-31 14:05] #418 closed

[2021-10-31 14:05] xiao03 commented on #426
Close this issue due to inactivity. Please reopen it when necessary.

[2021-10-31 14:05] #426 closed

[2021-10-31 14:06] xiao03 commented on #428
Close this issue due to inactivity from the user. Please reopen it when necessary.

[2021-10-31 14:06] #428 closed

[2021-11-02 08:46] isspek commented on #340
Thank you so much for the library, it would be really helpful for researchers. My question is similar to the first question. I am interested in the evaluation of the following paper: https://arxiv.org/abs/2004.13826 The paper is inductive, so each split has its own graph structure. I wonder how one can implement this paper with the library. I would be happy if you could answer. Thank you

[2021-11-04 22:26] mhillebrand opened #449 "stanfordcorenlp"
I had to change every instance of `stanfordcorenlp.StanfordCoreNLP` to `stanfordcorenlp.corenlp.StanfordCoreNLP` in the graph4nlp code. I should point out that I have [Lynten/stanford-corenlp](https://github.com/Lynten/stanford-corenlp) v3.9.1.1, installed via `pip install stanfordcorenlp`. Is this not the Python client you guys use for the StanfordCoreNLP Java server? Or perhaps I'm using a diffe

[2021-11-08 10:57] AlanSwift commented on #449
Sorry for the late reply.
We install the Stanford CoreNLP by the command ``pip install stanfordcorenlp`` and the source link is [https://pypi.org/project/stanfordcorenlp/](https://pypi.org/project/stanfordcorenlp/).
I have checked and it is ``from stanfordcorenlp import StanfordCoreNLP``.  (You can also see the ``Simple usage`` in the github repo [https://github.com/Lynten/stanford-corenlp](https:

[2021-11-09 05:02] mhillebrand commented on #449
Strange. I uninstalled stanfordcorenlp and reinstalled it. Now everything works fine.

[2021-11-09 05:02] #449 closed

[2021-11-10 20:56] mjzohrabi opened #452 "Process getting killed while running the text summarization example"
## ❓ Questions and Help

I'm trying to run the summarization example (ideally by running it on the full dataset and then trying other models and parameters), But each time the process gets 'killed'. Is there a way to run it properly without changing the default parameters?
I'm using a system with 16 virtual cores for CPU, 32 GB RAM, and RTX 2080 Ti GPU.
If I need to upgrade my system please let me

[2021-11-17 14:56] xiao03 commented on #439
This issue is closed due to no comments for over two weeks. Please re-open it if needed.

[2021-11-17 14:56] #439 closed

[2021-11-17 19:18] mhillebrand opened #456 "Training on multiple GPUs"
## 🚀 Feature
Training on multiple GPUs

## Motivation

I'd like to train a graph classifier using millions of training examples, and I have more than one GPU. A quick, project-wide search for "DataParallel" yielded no results, though. Is this on the roadmap? Thanks!

[2021-11-18 16:17] icocoder opened #457 "Running on colab"
## ❓ Questions and Help

Due to the fact that there is only sequential cells in the free version of colab, and the requirement of running stanford corenlp, I was wondering if there is way to run the examples on it.
There is stanza (official corenlp wrapper for python), but I don't know which parts of the codes should be changed to make it run properly.

Thanks in advance.

[2021-11-18 16:22] AlanSwift commented on #457
Hi.
I think the graph construction method should be rewritten. The link is [https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_construction/dependency_graph_construction.py#L57](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_construction/dependency_graph_constructio

[2021-11-18 16:24] AlanSwift commented on #456
Currently, it is not on our roadmap since we think this is an application-side feature.
However, do you encounter some difficulties?

[2021-11-18 16:25] AlanSwift commented on #452
Can you provide the error tracebacks and the system information?

[2021-11-18 16:52] mhillebrand commented on #456
Ah, okay. I'll bake that multi-gpu stuff into my code then. Thanks.

[2021-11-18 16:52] #456 closed

[2021-11-19 06:58] mjzohrabi commented on #452
I Have run the model without GPU, or by using Glove 100d and changing the embedding dimensions. So I concluded that the problem is my GPU memory. The problem occurred in the building vocab phase, using the aforementioned modifications solved the problem.

Thanks.

[2021-11-22 22:19] mhillebrand opened #458 "Graph classification (inference)"
I just tried `inference.py` in the `develop` branch for sentence (dependency graph) classification , which is great for classifying single sentences here and there, but with large amounts of sentences to classify, it's quite slow. For each input sentence, a separate connection to the Stanford CoreNLP server is made—even if I set `batch_size` to something greater than one. This certainly isn't the

[2021-11-24 14:37] xiao03 commented on #452
The issue is closed. Please reopen it if necessary.

[2021-11-24 14:37] #452 closed

[2021-11-25 01:34] nashid opened #460 "How to build a custom dataset for the graph2seq model?"
## ❓ Questions and Help

I want to use the `graph2seq` model that would encode an input source code AST as a graph and would decode to a target sequence.

So far I am building the graph model using the GraphData API to build source code AST as a graph. However, how would I feed the sequence data to the decoder?

I don’t find one complete example showing the whole flow. Can anyone point me in the r

[2021-11-25 08:54] AlanSwift commented on #458
Thanks for your interest.
Yes, currently it is in progress. But there is some misunderstanding as well.
The ``inference_advance.py`` and ``inference.py`` have the same effect but for different purposes actually.
They can all get the predicted results (I mean both the logits and the string-like outputs).

The ``inference.py``adopts the ``inference_wrapper`` which can directly handle the raw inputs,

[2021-11-25 09:00] AlanSwift commented on #460
Can you please give a more concrete description?
Does the step of customizing your dataset trouble you or how to do the decoding when you finished GNN computing?

[2021-11-25 21:23] #458 closed

[2021-11-26 02:23] nashid commented on #460
I am using the [NMT example from graph4nlp](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/nmt/main.py).

**INPUT**:
![off-by-one dot](https://user-images.githubusercontent.com/6440104/143516568-8ed07dfe-fc16-480e-a034-97ebbdd54593.png)

**OUTPUT**: i< array.length

I started following class `IWSLT14Dataset` which inherited `Text2TextDataset` in that example.

I converted the I

[2021-11-28 05:31] biggytruck opened #461 "Build custom dataset for regression problem"
Hi,

As mentioned in #351 , it's possible to build a GNN-based regression model by replacing the CE with MSE loss in the text classification example. But how should I build the dataset? In the text classification example, `TrecDataset` inherits from `Text2LabelDataset` which builds its own label model using `LabelModel`. As I traced back to the source code, it seems `LabelModel` is specifically de

[2021-11-28 19:05] mjzohrabi opened #462 "Text summarization example test part error"
## ❓ Questions and Help

Hi, while running the text summarization example the model checkpoint is saved ('config.json,  metric.log, params.saved' are inside the gcn_bi_fuse_l2_ckpt folder) but I get the following error for the test part: AttributeError: 'EarlyStopping' object has no attribute 'load_checkpoint'.
![546](https://user-images.githubusercontent.com/56761646/143781963-f669cdcc-bf64-4abe-

[2021-11-29 05:18] hugochan commented on #461
@biggytruck Thank you for your interest to our library! Yes, you can build your own dataset class for the regression task. You may notice that `TrecDataset` inherits from `Text2LabelDataset` class. Similarly, you will need to first build your own `Text2NumberDataset` class following `Text2LabelDataset`, and then build your high-level dataset class which inherits from  `Text2NumberDataset`.

[2021-11-29 07:26] icocoder commented on #457
Hi, thanks for your response.
I tried to implement this part again but I had some issues. The first thing that I'm wondering is
when I comment out all the codes in this method (parsing) the code still tries to connect to stanford corenlp.
I guess maybe some other parts needs to be rewritten.

[2021-11-29 20:28] icocoder commented on #457
I have another question. May I ask what was the specs of the system that you have used to run the provided examples?

thanks in advance.

[2021-11-29 22:29] biggytruck commented on #461
Thanks for your reply. I have implemented my `Text2NumberDataset` as you suggested. Would the team consider adding this support for continuous labels in a future release?

[2021-11-29 23:43] vbayubaskoro opened #463 "How to use the Graph2Seq model?"
## ❓ Questions and Help
Hi!

I'm working on a project where I want to feed custom dataset to the Graph2Seq model. Before I do that, I just want to experiment a little bit with a super simple graph data (one graph of 4 nodes with 4 edges) to make sure I understand the workflow. My understanding is that I need to convert my graph to a DataItem -> DataSet -> which can then be fed to a model. I am a l

[2021-11-30 00:06] vbayubaskoro commented on #463
This is what I've done so far:

I created a graph g and added some nodes  and some edges. I then constructed a Text2TextDataItem where I used the extract method. I changed the implementation of extract() so that it takes in my graph. Once I have the input and output tokens from the extract() method, I constructed a Text2TextDataSet. Here, I used the vectorization() and collate_fn() methods on my p

[2021-12-01 02:33] nashid commented on #460
@AlanSwift any feedback is well come.

[2021-12-01 05:45] hugochan commented on #461
@biggytruck Can you tell us what your application is? You are welcome to contribute to the library if you think your use case is interesting and beneficial to other people.

[2021-12-04 11:14] AlanSwift commented on #460
Sorry for the late reply. I think you don't know how to convert your raw inputs to GraphData.
An example is the dependency graph which converts the dependency parsing tree to GraphData. Please refer to [https://github.com/graph4ai/graph4nlp/blob/master/graph4nlp/pytorch/modules/graph_construction/dependency_graph_construction.py](https://github.com/graph4ai/graph4nlp/blob/master/graph4nlp/pytorch/

[2021-12-04 11:18] AlanSwift commented on #463
After finishing vectorization, you can feed the batch graphdata to ``Graph2Seq`` model.
An example is: [https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/examples/pytorch/semantic_parsing/graph2seq/main.py#L227](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/examples/pytorch/semantic_parsing/graph2seq/main.py#L227).
If you meet

[2021-12-04 11:21] AlanSwift commented on #462
Sorry for the late reply. This is a bug during the code migration. Thank you for your report. We will fix it in the next version.
@Nicoleqwerty Please fix it.

[2021-12-04 11:27] AlanSwift commented on #457
Reply to Q1:
I guess you have run the codes with the wrong version.  Since Stanford CoreNLP is only called in this [line](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_construction/dependency_graph_construction.py#L92). Please check it.
Reply to Q2:
You can refer to semantic parsing example: [semantic parsing](https://github.com

[2021-12-05 01:41] nashid commented on #460
@AlanSwift I have already parsed my file and converted that raw input into GraphData. Just to clarify, an example with hard coded data for illustration:

[code]

So far my attempt has been to write a parser called `AST2TextDataSet` in the similar spirit of `Text2TextDataSet`.

But from you it sounds like I should write a class like `ASTBasedGraphConstruction`  following `DependencyBasedGraphConstr

[2021-12-05 06:54] Nicoleqwerty commented on #462
Hi @mjzohrabi, You can fix it line 444 in main.py to ''self.model.load_checkpoint(self.stopper.save_model_path)''. We will fix it in next version.

[2021-12-05 07:11] AlanSwift commented on #460
R1: The only need is you have to implement the ``topology`` function since this API is called during the pipeline.
``parsing`` is only an independent "raw string to parsing results" procedure.
``_construct_static_graph`` is following ``parsing``, which takes the parsing outputs and constructs the graph.
These two APIs are called in ``topology``. And the dataset will only call the ``topology`` API.

[2021-12-06 22:37] nashid commented on #460
Thanks for your response. A couple of questions:

- **Q1**: for my case I only have only one graph input at a time and I do not have sentence one and sentence two. So I presume I should set the merge_strategy as None and that should do it.

- **Q2**: I have only one graph at a time i.e. no case like `​​sentence A. sentence B.` So in my case, no need to implement [`_graph_connect`](https://github.c

[2021-12-06 22:46] nashid commented on #460
@AlanSwift I am reading dataset from [DOT file format](https://en.wikipedia.org/wiki/DOT_(graph_description_language)) and building my topology that way. Would this generic implementation be of any interest to be added to the graph4nlp project?

[2021-12-07 09:31] mjzohrabi commented on #462
Thanks a lot @AlanSwift  @Nicoleqwerty.

[2021-12-07 10:42] AlanSwift commented on #462
This issue will be closed.

[2021-12-07 10:42] #462 closed

[2021-12-08 02:50] AlanSwift commented on #460
R1 & R2: Your input is a single graph and you don't need a parsing procedure. You should inherit ``StaticGraphConstructionBase`` and implement your ASTGraphConstruction. Thus ``merge_strategy``, ``sequentual_link``, ``_graph_connect`` can be dropped according to your need. An example is [a dataset for the NER graph ](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/name_entity_re

[2021-12-08 02:51] AlanSwift commented on #460
Currently, this is not in our plan.

[2021-12-08 02:55] AlanSwift commented on #457
I will close this issue and please feel free to reopen if you still have trouble.

[2021-12-08 02:55] #457 closed

[2021-12-08 04:20] nashid opened #466 "Is there a limitation on how large a graph can graph4nlp handle?"
## ❓ Questions and Help

Currently, I am using the [NMT](https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/nmt ) example using Graph2Seq model for a translation task. In my case, I have a large graph with many nodes and edges.

I would be curious to know whether there were any experiments with graph4nlp on large graphs. Were there any experiments regarding how large graph graph4nl

[2021-12-08 15:19] AlanSwift commented on #466
The backend of Graph4NLP is ["DGL"](https://www.dgl.ai/). Thus for this part, please refer to DGL scaleability. As for other parts such as the decoder, it is hard to give a certain limitation.

[2021-12-08 16:37] nashid commented on #466
For my case, the input to the Graph2Seq is a large graph (with a mean of 2000 nodes in the dataset) but the output sequence is relatively small with around 15 tokens.

[2021-12-08 17:46] icocoder opened #467 "Customizing dataset"
## ❓ Questions and Help
Hi, I have created a graph from my own text dataset with DGL.
I wanted to ask what is the easiest way to use it (can I use it directly)?

[2021-12-08 19:49] nashid commented on #467
@icocoder you can have a look here https://graph4ai.github.io/graph4nlp/guide/graphdata/construct.html#importing-from-other-sources

You can import data from other sources.

Look into the `GraphData` import API like `from_dgl()`.

[2021-12-08 20:15] nashid commented on #460
For my case, graph is a static dependency graph and I build the GraphData from inside topology method i.e., a simplified implementation of `ASTGraphConstruction` illustrated below:

[code]

But the challenge is in `class Dataset(torch.utils.data.Dataset):` _build_topology_process is not flexible and it always connects to `stanfordcorenlp.StanfordCoreNLP` which I do not need for a generic custom da

[2021-12-09 02:12] nashid opened #468 "How to build embedding?"
## ❓ Questions and Help

I see Vocab is built as part of the Dataset in [build_vocab](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/data/dataset.py#L713). I also see VocabModel is building embedding [randomly](https://github.com/graph4ai/graph4nlp/blob/master/graph4nlp/pytorch/modules/utils/vocab_utils.py#L123) if no pre-trained embedding is

[2021-12-09 07:59] icocoder commented on #467
@nashid
It's great, I didn't know about it. Thanks for your help.

[2021-12-09 07:59] #467 closed

[2021-12-09 08:11] AlanSwift commented on #468
R1: Sure. Because word embedding is part of the parameters in the model. You can set [``fix_word_emb``](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/config/graph_construction/dependency.yaml#L33) to ``False``.
R2: No. These are the parameters for the graph embedding initialization module for all graphs.  The graph embedding initializ

[2021-12-09 08:11] AlanSwift commented on #466
OK. I think you should try a small batch_size for a single GPU.

[2021-12-09 08:12] AlanSwift commented on #467
@icocoder @nashid Thanks a lot for your reply. I just missed it.

[2021-12-09 08:17] nashid commented on #466
Thanks a lot for your insight. Closing the task.

[2021-12-09 08:25] mjzohrabi opened #469 "Summarization example"
## ❓ Questions and Help

Hi, in the summarization example, I want to try other graph neural networks (replacing GCN with GraphSAGE, GAT, ...)
How can I do it with minimal change to the original code?

[2021-12-09 08:33] AlanSwift commented on #469
You just need to modify the parameters in the [configure file](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/examples/pytorch/summarization/cnn/config/gcn_bifuse.yaml#L2).
For example, GCN --> GAT.
You first need to modify L2: "gat". Then you need to modify ``graph_embedding_args`` in L40-L54. You can refer to the default GAT parameters in [this file](https://

[2021-12-09 08:40] AlanSwift commented on #469
We plan to make it more clear in the documentation.

[2021-12-09 08:43] icocoder commented on #469
This is great, Thanks a lot.

[2021-12-09 08:53] icocoder commented on #469
I have one more question, for using other graph embeddings which currently aren't included in the graph_embedding directory such as GTN (Graph Transformer Networks), how can I do it?
Is there any priority between using DGL or PyG libraries?

[2021-12-09 09:04] AlanSwift commented on #469
You can implement it. Since our backend is DGL, the most straightforward way is to convert the ``GraphData`` to ``DGLGraph`` and do the GNN by calling DGL's implementation. Then you can convert the computation results to ``GraphData`` and do the downstream tasks.
Notes: You can refer to the GAT implementation ([code](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19cadd

[2021-12-09 09:13] icocoder commented on #469
@AlanSwift  Thank you very much.

[2021-12-09 18:47] mjzohrabi commented on #469
@AlanSwift
I changed the config file, but after running the model this error occurred:
![Capture](https://user-images.githubusercontent.com/56761646/145456502-2ad48891-2e75-4971-bc06-b4778842d259.JPG)

Here I tried to use gat. The config yaml file changed like this:
[gatconf.txt](https://github.com/graph4ai/graph4nlp/files/7687656/gatconf.txt)

[2021-12-10 06:02] AlanSwift commented on #469
I think you should set ``allow_zero_in_degree`` to be ``True``.

[2021-12-10 07:22] AlanSwift commented on #460
Yes, this is an urgent plan we are trying to fix on the plan. As a result, it will be improved in the 0.6 version.
Currently, I'm afraid you have to do it by overriding the [_build_topology_process](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/data/dataset.py#L485) function as follows:
[code]
We are sorry for this inconvenience. The experien

[2021-12-10 08:36] mjzohrabi commented on #469
This solution worked and the model was run completely.
But about the other recommended solution (adding self-loop to nodes), may I ask how can do that?

[2021-12-10 08:44] AlanSwift commented on #469
The self-loop is missed during the migration. We will fix it now.
Currently, you can add the self-loop by adding the following code in [this Line](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_embedding/gat.py#L162):
[code]

[2021-12-10 14:31] mjzohrabi commented on #469
The problem is solved. Thanks again.

[2021-12-10 14:31] #469 closed

[2021-12-12 14:47] #463 closed

[2021-12-12 14:47] xiao03 commented on #463
The issue is closed due to inactivity. Please reopen it when necessary.

[2021-12-12 14:48] xiao03 commented on #461
This issue is closed due to inactivity. Please reopen it when necessary.

[2021-12-12 14:48] #461 closed

[2021-12-16 06:42] nashid commented on #468
I am confused with the embedding generation steps.

I already have the following in the configuration initialize DependencyBasedGraphConstruction with the following config:

[code]

Should not this be enough to generate embedding with word2vec? But for me, it is always creating random embedding. What is the proper configure that embedding would be learnt using word2vec?

[2021-12-16 10:11] AlanSwift commented on #468
Can you please show more details: the code, config yaml?

[2021-12-18 20:04] icocoder opened #476 "Using BERT as pretrained model"
## ❓ Questions and Help

Hello, I changed the pretrained model to 'bert' but I got the following error:
[code]
It seems to be due to huggingface servers, but how can I fix it?
If I want to download pretrained model manually, where should I put the file?

[2021-12-20 11:02] icocoder commented on #476
`requests.exceptions.ConnectionError: HTTPSConnectionPool(host='huggingface.co', port=443): Max retries exceeded with url: /api/models/None (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f7d01907fa0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))`

When I used a different internet connection the error changed to this,
but

[2021-12-21 05:34] hugochan commented on #476
@icocoder Thanks for your interest to our library! Can you share more context on how you changed the pretrained model to 'bert' and what are you trying to achieve? Any code snippet for understanding/reproducing the issue will be helpful.

[2021-12-22 07:37] AlanSwift commented on #460
This issue will be closed. Please feel free to reopen if necessary.

[2021-12-22 07:37] #460 closed

[2021-12-23 07:29] icocoder commented on #476
@hugochan, I have simply changed the config file, and used different available options at [https://graph4ai.github.io/graph4nlp/guide/construction/embedding_construction.html?highlight=w2v](url).
except the ones that include 'bert', the other ones works fine. I guess the problem is that the link that is used to download 'bert' from huggingface is no longer available and needs to be changed.

[2021-12-23 17:48] icocoder opened #479 "Multi-head attention"
## ❓ Questions and Help

Hello, I want to change the multi head attention module (by using different attentions for different heads) but I couldn't find where is it implemented either in graph4nlp or DGL libraries. It is mentioned in the following tutorial [DGL tutorial on GAT](https://graph4ai.github.io/graph4nlp/guide/gnn/gat.html?highlight=gat) and it is used in the configuration part of graph4

[2021-12-24 07:36] AlanSwift commented on #479
Hi!
The GAT is implemented by DGL.[https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_embedding/gat.py#L5](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_embedding/gat.py#L5)

A link to DGL is [https://github.com/dmlc/dgl/blob/42897c3652cabd931d856b298b809ff37920168

[2021-12-24 07:39] AlanSwift commented on #476
I have tested the bert and can't reproduce the error. Can you attach the more detailed error traceback? And any code snippet is helpful for us to reproduce this error.

[2021-12-24 14:11] icocoder commented on #476
For being sure about my code, I tried the summarization example, this is the error traceback:

[code]

[2021-12-24 14:14] icocoder commented on #479
@AlanSwift Thanks a lot.

[2021-12-24 14:14] #479 closed

[2021-12-25 11:21] AlanSwift commented on #476
Can you add a breakpoint here: [https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_construction/embedding_construction.py#L418](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_construction/embedding_construction.py#L418)
and print the variable value "name"?

I think

[2021-12-26 07:18] icocoder commented on #476
Yes it seems that's the problem, when I printed its name it was 'None'.
How can fix it?

[2021-12-26 07:29] AlanSwift commented on #476
I think you should check the config, especially the "bert_model_name" as follows:
[https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/config/graph_construction/dependency.yaml#L38](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/config/graph_construction/dependency.yaml#L38). It

[2021-12-26 13:23] icocoder commented on #476
Thank you very much, the problem is solved on the google colab.
For the last question I wanted to ask, if I want to download 'bert' manually from huggingface, where should I put the download file so that it doesn't need to be downloaded by the framework.

[2021-12-26 15:20] AlanSwift commented on #476
The bert weights are automatically downloaded by the API with huggingface.
[https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_construction/embedding_construction.py#L419](https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/graph_construction/embedding_construction.py#L419)

Y

[2021-12-27 10:19] icocoder commented on #476
Thanks a lot.

[2021-12-27 10:19] #476 closed

[2022-01-02 10:08] icocoder opened #480 "Co-occurrence graph construction"
## ❓ Questions and Help

Hello, I wanted to ask how can I use the following kind of graph construction (I have searched for it but I couldn't find the implementation or API in the library)
![co-occurrence](https://user-images.githubusercontent.com/94281906/147872584-95777391-0307-4407-8766-60b86ffd6d4d.JPG)

[2022-01-04 05:25] icocoder commented on #480
To make my question more clear, I'm trying to learn how to use different construction methods on the summarization example.
I the last two days I have tried to use another construction method such as 'node embedding based' and based on other examples, but there isn't any straightforward section in the docs to learn about these things.
I don't know if I'm learning based on the right path or not, cu

[2022-01-11 00:29] nashid commented on #456
@mhillebrand how do you solve the multi-GPU issue?

[2022-01-11 00:35] nashid opened #481 "How to use the Graph2Seq model with multiple GPUs?"
How to train the `Graph2Seq` model in a multiple-GPU environment? As an example, there is an NMT example here: https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/nmt

The model is built here:
https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/nmt/build_model.py

Could this be extended to be trained in a multiple GPU environment?

[2022-01-11 00:56] nashid commented on #429
@AlanSwift when these features will be delivered? Any ETA?

[2022-01-11 01:04] mhillebrand commented on #456
@nashid I never made it that far. I realized that a DistilBERT classifier yielded higher accuracy in less time for my particular use case, so I removed Graph4NLP from my current project. I'm hoping to make use of it in future projects, though.

[2022-01-11 01:18] nashid opened #482 "CUDA out of memory"
## 🐛 Bug

Graph2Seq model keeps giving `RuntimeError: CUDA out of memory`.

While training, Graph2Seq is giving the Out Of Memory (OOM) error.

## Environment

 - **Graph4NLP Version (e.g., 0.4.1)**:v0.5.1
 - **Backend Library & Version (e.g., PyTorch 1.6.0)**: 1.10.0
 - **OS (e.g., Linux)**: CentOS
 - **How you installed Graph4NLP (`pip`, source)**: from source
 - **Build command you used (if com

[2022-01-11 01:52] nashid opened #483 "How to build a custom dataset for the graph2seq model?"
## ❓ Questions and Help

As I [mentioned](https://github.com/graph4ai/graph4nlp/issues/460) the current implementation is not flexible enough while adding support for the new custom dataset.

With this the current implementation, in `class Dataset(torch.utils.data.Dataset)` the function `_build_topology_process` is not flexible and it always connects to `stanfordcorenlp.StanfordCoreNLP` which I do

[2022-01-11 04:33] nashid commented on #466
@AlanSwift how I can select multiple GPU for the `Graph2Seq` model while feeding a large graph.

[2022-01-11 04:36] AlanSwift commented on #482
Yes, try a small batch_size or use gpus with larger memory.

[2022-01-11 04:38] AlanSwift commented on #480
This graph is not officially implemented. Perhaps you have to implement it by yourself.

[2022-01-11 04:38] AlanSwift commented on #481
Yes.

[2022-01-11 04:42] AlanSwift commented on #483
Thanks for your deep insight into this library. Yes, this is our next TODO issue.
Currently, I think the best choice is to override this ``_build_topology_process`` API in your customized dataset.

[2022-01-11 07:56] nashid commented on #481
@AlanSwift Can you please point me in the direction of how can I train Graph2Seq in a multiple GPU environment? Do you have any such examples?

[2022-01-11 11:54] icocoder commented on #480
I'm currently working on the text summarization example, can you please tell me which part of codes in the graph construction code should be changed?

[2022-01-11 18:00] nashid commented on #481
@AlanSwift is there a configuration parameter that I have set? Wondering is there an example?

[2022-01-11 18:03] AlanSwift commented on #480
I think you should implement the CoOccurrenceGraph in [graph construction module](https://github.com/graph4ai/graph4nlp/tree/master/graph4nlp/pytorch/modules/graph_construction).

[2022-01-11 20:16] nashid commented on #481
@AlanSwift wondering do you plan to add an example for multiple GPUs? That would be really handy.

[2022-01-13 04:39] AlanSwift commented on #481
OK. I will do it in my free time. There is a tip. Since the ``Graph2Seq`` model  takes the ``GraphData`` as input which doesn't support ``scatter`` for ``nn.DataParrel``, I think the best choice is ``nn.parallel.DistributedDataParallel``. It is quiet tricky and I will provide a demo soon.

[2022-01-13 04:40] AlanSwift commented on #482
Closed.

[2022-01-13 04:40] #482 closed

[2022-01-13 09:40] nashid commented on #481
@AlanSwift that would be great. Looking forward to it.

[2022-01-13 14:54] xiao03 commented on #481
This issue is closed due to no further request / updates. Please re-open it if you found necessary.

[2022-01-13 14:54] #481 closed

[2022-01-13 14:55] xiao03 commented on #483
This issue is closed as no further requests / information is required. Please re-open this issue if necessary.

[2022-01-13 15:07] icocoder commented on #480
Thanks a lot, I'll try to implement it.

[2022-01-13 20:11] nashid commented on #481
@AlanSwift the issue is closed. But no solution is provided yet.

[2022-01-15 21:39] iknoorjobs opened #485 "DependencyBasedGraphConstruction: Same "token", different "position_id""
Hi

Could you please tell why same word ("token") has a different "position_id" and considered as separate node?

Example, for word "word" in sentence:
[code]
Output:
[code]

Thank you. :)

[2022-01-17 08:47] AlanSwift commented on #485
Hi!
These two "words" are considered as different tokens in the Dependency graph since it doesn't conduct coreference resolution.

[2022-01-17 13:08] iknoorjobs commented on #485
Hi @AlanSwift
Got it. Thanks. Do you think adding coreference in the dependency graph will help achieve better results? From my experience, OpenIE with coreference doesn't really help. Thanks.

[2022-01-17 17:37] AlanSwift commented on #485
@iknoorjobs I think this is an interesting problem to study.
As we have studied in our [survey](https://arxiv.org/abs/2106.06090), coreference resolution is a common technique that is widely used individually or combined with other graph types.
But in my view, it is hard to guarantee the effect. It is a strong prior knowledge but also brings errors. And I think some well-designed models might have

[2022-01-18 02:19] iknoorjobs commented on #485
@AlanSwift, yes, it seems worth trying. And paper looks interesting. Thanks for sharing. :)

[2022-01-18 08:01] AlanSwift commented on #485
This issue will be closed. Feel free to reopen it if you still have problems. :)

[2022-01-18 08:01] #485 closed

[2022-01-21 08:04] nashid commented on #483
@xiao03 this issue is not resolved. So wondering why the issue is closed?

[2022-01-21 08:04] nashid commented on #481
@AlanSwift wondering do you have any update?

[2022-01-21 08:05] nashid commented on #481
@AlanSwift without the support to run in a multiple-GPU environment, not sure how this library could be useful for large datasets. Would really appreciate it if you have any updates.

[2022-01-23 16:21] AlanSwift commented on #481
@nashid This issue is under discussion now. I will give you solution in around a week. Thanks for your important advice.

[2022-01-25 20:18] #480 closed

[2022-01-25 20:25] icocoder opened #487 "Error while using gcn_bifuse_ie"
## ❓ Questions and Help

Hi, when I tried to run the summarization example with the gcn_bifuse_ie config, I got this warning message for lots of input files thus the vocab & data files couldn't be produced. [link](https://github.com/graph4ai/graph4nlp/blob/e7ad93f590b9399034d3ebfbd857cc5a4de977f0/examples/pytorch/summarization/cnn/config/gcn_bifuse_ie.yaml#L1)

The warning is this, and I tried dif

[2022-02-02 04:25] nashid commented on #481
@AlanSwift wondering any update? And thanks for looking into it 👍

[2022-02-02 05:19] AlanSwift commented on #481
This part is under discussion now. I can give a temporal solution.
There are two methods for multiple GPUs: 1. nn.DataParallel (DP), 2. nn.DistributedDataParallel (DDP).
The DP solution is [here](https://github.com/graph4ai/graph4nlp/blob/feature-multiplegpu/examples/pytorch/nmt/main_dataparallel.py).
The DDP solution is [here](https://github.com/graph4ai/graph4nlp/blob/feature-ddp/examples/pytorc

[2022-02-02 11:16] Nicoleqwerty commented on #487
Hi @icocoder, some data is indeed lost during the data processing of this task, which is limited by StanfordNLP, and we ended up retaining 29,356 of the 30,000 training set data. You can try running the code to see if only a small portion of the data is skipped. If you do not want to data loss, you can truncate the original text during preprocessing.

[2022-02-02 18:21] nashid commented on #481
@AlanSwift I will try it out. Wondering when this solution would be part of graph4nlp? Any tentative timeline?

[2022-02-02 20:10] nashid opened #488 "How to use multiple encoders for the Graph2Seq model?"
How can I use multiple encoders for the Graph2Seq model? Is there any example of that?

[2022-02-03 21:28] nashid opened #489 "Graph Isomorphism Network"
Do you plan to support Graph Isomorphism Network (GIN)?

- [HOW POWERFUL ARE GRAPH NEURAL NETWORKS?](https://arxiv.org/pdf/1810.00826.pdf)

[2022-02-03 23:43] nashid opened #490 "RGCN Implementation"
Do you plan to support the Relational Graph Convolution Network (RGCN) model?

[2022-02-06 15:55] AlanSwift commented on #490
Yes. This is on the roadmap.

[2022-02-06 15:56] AlanSwift commented on #488
Can you explain more specifically? I can't get "multiple encoders".

[2022-02-06 15:58] AlanSwift commented on #489
Currently, we don't plan to support it. However, it's not difficult to customize and pr is welcomed :) !

[2022-02-06 15:58] AlanSwift commented on #347
This problem is solved and I will close this issue.

[2022-02-06 15:58] #347 closed

[2022-02-06 15:59] AlanSwift commented on #429
Yes, please check 0.5.5.

[2022-02-06 15:59] AlanSwift commented on #429
This issue is closed.

[2022-02-06 15:59] #429 closed

[2022-02-07 07:05] nashid commented on #490
@AlanSwift wondering when you plan to add support for that? Also what heterogeneous graph is supported at the moment?

[2022-02-07 18:52] nashid commented on #488
As an example, from OpenNMT:

- [[Multiple sources with multiple features](https://forum.opennmt.net/t/multiple-sources-with-multiple-features/3590)](https://forum.opennmt.net/t/multiple-sources-with-multiple-features/3590)

[2022-02-08 19:29] icocoder commented on #487
@Nicoleqwerty Thanks a lot.

[2022-02-08 19:29] #487 closed

[2022-02-09 04:40] nashid opened #492 "copy mechanism does not work for the NMT model"
## 🐛 Bug

I was attempting to use copy-mechanism for the NMT model. But I get the following error when I set the copy mechanism flag.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. NMT example: https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/nmt/config/dynamic_gcn.yaml#L66
2. Set copy mechanism to true `use_copy: true`
3. Error: `Copy is not fit to NMT `

## Expe

[2022-02-09 04:53] nashid opened #493 "Description of the configuration file"
## ❓ Questions and Help

I am finding the configuration file confusing. Also, I don't find any documentation for it either. As an example:

### **graph_construction_args**:
- It has three sections: `graph_construction_share`, `graph_construction_private`, and `node_embedding`. Why two section i.e., `graph_construction_share` and `graph_construction_private`. What this `share` and `private` is for?

[2022-02-09 04:58] nashid commented on #489
Ok, I will try to look into it.

[2022-02-10 06:54] nashid opened #495 "How to set vocab size?"
## ❓ Questions and Help

I see I can set the vocab size while building the VocabModel.

But can we set it from config files? I have already looked into the configuration files. However, I do not see vocab size to be configurable.

Can you please clarify?

[2022-02-11 19:45] nashid commented on #490
@AlanSwift also how to see the roadmap? I can't find any documentation for the roadmap.

[2022-02-12 01:59] nashid commented on #495
@AlanSwift can you provide any pointers, please?

[2022-02-12 07:56] AlanSwift commented on #495
This is an example: [QG vocab size](https://github.com/graph4ai/graph4nlp/blob/e7ad93f590b9399034d3ebfbd857cc5a4de977f0/examples/pytorch/question_generation/config/squad_split2/qg.yaml#L8).

[2022-02-12 08:01] AlanSwift commented on #493
This is due to the hierarchy. Take the "graph_embedding" for example, there are several modules that have similar parameters, such as "GAT", "GCN", "GGNN" etc. These modules share the same parameters: num_layers, input_size, etc. These parameters are grouped by "_share". In contrast, the GAT has the individual parameters: heads, attn_drop, etc. These are grouped by "_private".

[2022-02-12 08:05] AlanSwift commented on #492
Copy mechanism is used to "copy" the input sequence's distribution to the output. Currently, we just give a feasible implementation of NMT. In this version, the source corpus and the target corpus have different vocabularies. So the copy mechanism is not suitable. You can explore it!

[2022-02-12 08:08] AlanSwift commented on #490
Maybe in a month. Currently, we only implement the heterogeneous graph by "as_node" feature.

[2022-02-13 16:32] AlanSwift opened #496 "[Roadmap] Graph4NLP v0.6 plan"
Task List
* [New Feature] A brand new configuration system based on [OmegaConf](https://omegaconf.readthedocs.io/en/2.1_branch/).
* [Feature] Upgrade ``stanford CoreNLP`` to ``[Stanza](https://stanfordnlp.github.io/stanza/)``
* [Feature] Improve the dataset custermize experiments.
* [Feature] Add relational GNN support.

[2022-02-15 00:57] nashid commented on #495
Thanks, @AlanSwift for pointing out:

[code]

But where does it fit for the [NMT example](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/nmt/config/dynamic_gcn.yaml)?

There are two sections here:

[code]

and

[code]

I presume it would go as part of the `graph_embedding_args`?

[code]

[2022-02-15 01:04] #493 closed

[2022-02-15 01:07] nashid commented on #490
Thanks for your response. So you are referring I should select:

[code]

But I see in the documentation:

[code]

If I understand correctly, the **heterogenous** ( edge_strategy: "heterogeneous”) is not supported yet and would be available as part of the Relational GNN?

Also out of curiosity have you run any experiments with edge_strategy: "as_node" for GCN, GAT, GGNN, GraphSage? Does it give any

[2022-02-15 01:09] nashid commented on #496
@AlanSwift looking forward to the relational GNN support.

By the way, without the support to run in a multiple-GPU environment, not sure how this library could be useful for large datasets. Do you plan to add support for multiple-GPU?

[2022-02-15 01:12] nashid commented on #492
@AlanSwift In my case, the input and output use the same vocabulary. That's why I want to try out the copy mechanism.

[2022-02-15 21:32] nashid commented on #495
@AlanSwift would really appreciate your input regarding how to set up vocab size for the NMT example.

[2022-02-16 08:12] nashid commented on #495
I found how to configure vocab size. So closing the issue.

[2022-02-16 08:12] #495 closed

[2022-02-16 08:42] nashid opened #498 "How the embedding is learned for the unk tokens?"
For building vocabulary, I am setting the `max_word_vocab_size` and `min_word_vocab_freq`. The embedding is learned as part of the model training as I am not passing pre-trained embedding.

What would happen for the unknown tokens as I am setting the vocab size now?

I presume in the corpus in-frequent words would be replaced with UNK and the embedding for UNK would be generated?

[2022-02-16 18:15] nashid commented on #498
Also it is not clear to me what is the vocab size when I do not set `max_word_vocab_size` and `min_word_vocab_freq` parameters.

[2022-02-17 01:46] nashid opened #499 "Model keep generating UNK tokens"
## 🐛 Bug

The model is generating too many UNK tokens.

## To Reproduce
Set limited vocabulary:

[code]

## Expected behavior

For the NLP example, as I am using limited vocab size, I am expecting to see UNK tokens. But now in most cases, I see series ok UNK tokens coming up.

A couple of examples:

[code]

## Environment

 - Graph4NLP Version (e.g., 0.4.1): 0.4.1
 - Backend Library & Version (e.g

[2022-02-17 14:24] WuXuan374 opened #500 "bug report related to BertEmbedding and pytorch/test/"
## 🐛 Bug

Some code bugs in pytorch/test/ folder and BertEmbedding part

## Background
Great library and many thanks!
I need to mock some source code so that this library can fit into my application.
When reading and running some source code, I encountered some problems. Below is some examples and my solutions to them.

## pytorch/test/

Take pytorch/test/graph_construction/run_batch_graph_embeddi

[2022-02-17 14:32] WuXuan374 opened #501 "Question about cuda"
## Question about cuda

1. I installed graph4nlp-cu101, with cuda 10.0 on my server.
For me, it won't work, with following error: OSError: libcublas.so.10: cannot open shared object file: No such file or directory.
Is there any solution to it? (with cuda 10.0)

2. If I have to install the exact cuda version for graph4nlp, will you support cuda 10.0 in the future? Cause it's difficult for me to ins

[2022-02-18 06:05] hugochan commented on #500
Hi @WuXuan374 , thanks for your interest to the library and reporting the issues about the test examples under the `pytorch/test` folder! The folder contains all our unit test examples which are currently under construction and might not be compatible with the latest library APIs. Yes, you're very welcome to send a PR to help us improve them.

[2022-02-18 15:22] WuXuan374 commented on #501
This cuda thing has been solved. The process is as follows in case anyone need it.

1. in https://pytorch.org/get-started/locally/, select cuda version (which should be the same as your graph4nlp cuda version);
2. Using the command to download pytorch as well as cudatoolkit, torchaudio and so on
3. In step 2.  you need to force conda/pip to install pytorch_gpu (not cpu version)
4. After 3, I have

[2022-02-18 15:23] #501 closed

[2022-02-20 09:50] nashid opened #504 "IndexError while doing inference with top_k > 1"
## 🐛 Bug

Graph2Seq model is giving `IndexError` during inference stage when top_k > 1.:

[code]

It is happening when top_k > 1.
[code]

## Expected behavior

Inference with top-k should produce top-k inferences.

[2022-02-20 11:07] nashid commented on #504
Inference works:

[code]

Then when I set:
[code]
Inference fails with:

[code]

Can anyone please provide me with any pointers here?

[2022-02-20 22:33] #468 closed

[2022-02-21 07:47] ramsey-coding opened #505 "Beam search is broken"
Hi there!

I came across this library recently and looks exciting. I tried out a couple of examples and it works great. There are quite couple of libraries on GNN. But it seems to a comprehensive one thats focuses on NLP.

I also look a deeper with the NMT example and tried out translate with different beam size. But looks like beam search is completely buggy.

Beam search works for the top-1. But

[2022-02-21 07:50] #466 closed

[2022-02-21 07:50] AlanSwift commented on #505
Thanks for your feedback. I think this is a bug and I will check it now.

[2022-02-21 07:51] AlanSwift commented on #504
Thanks for your feedback and I will figure it out.

[2022-02-21 07:51] #498 closed

[2022-02-22 21:00] nashid commented on #504
@AlanSwift thanks a lot for looking into the issue. Wondering when can we expect the bug-fix?

[2022-02-24 11:18] colabofficial3 opened #507 "Use constituency and dependency features for training"
## 🚀 Feature

## Motivation

## Alternatives

## Pitch

## Additional context

[2022-02-26 11:25] crazyseabiscuit opened #513 ""Connecting to stanfordcorenlp server..." for a long time and there is no response"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.  install according to https://github.com/graph4ai/graph4nlp
excute the following code
from graph4nlp.pytorch.datasets.jobs import JobsDataset
from graph4nlp.pytorch.modules.graph_construction.dependency_graph_construction import DependencyBasedGraphConstruction
from graph4nlp.pytorch.modules.config import get_basic_args
from graph4nlp

[2022-02-28 06:18] nashid commented on #504
@AlanSwift sorry for pinging you again on this. I also see https://github.com/graph4ai/graph4nlp/issues/505 which mentions issues with beam search.

I am wondering when this issue will be resolved?

[2022-02-28 06:26] nashid commented on #513
From tutorial:

If no processed data is available (if there is no `data/processed` directory from the root directory of the repository or it is empty), open a separate command prompt and run these commands to initialize an instance of StanfordCoreNLP to process the data:
Download from https://huggingface.co/stanfordnlp/CoreNLP/blob/main/stanford-corenlp-latest.zip.

[code]

Check steps from the tu

[2022-03-01 07:13] crazyseabiscuit commented on #513
thanks for the response , it worked for me now

[2022-03-01 07:13] #513 closed

[2022-03-02 18:19] vinven7 opened #517 "named entity recognition - no readme"
## 📚 Documentation

There is no readme file for the named entity recognition example. I'm not sure how to implement this

[2022-03-02 18:25] nashid commented on #517
I have not run the example https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/name_entity_recognition

But don't think it would be much different than running other examples.

[code]

[2022-03-02 18:56] vinven7 commented on #517
Thank you! I will try this out. Where can I learn how to convert a list of annotated text files into the format required for the example?

[2022-03-02 18:59] nashid commented on #517
Dataset customization: https://graph4ai.github.io/graph4nlp/guide/dataset/customize.html#guide-customize

[2022-03-02 19:11] vinven7 opened #518 "text classification example error"
In running the text classification example:

`python -m examples.pytorch.text_classification.run_text_classifier -config examples/pytorch/text_classification/config/trec/gat_bi_fuse_constituency.yaml  `

It runs for a bit until the code crashes at a 'deepcopy' error:

`.vector_cache/glove.840B.300d.zip: 2.18GB [07:03, 5.13MB/s]

[2022-03-04 16:31] hugochan commented on #518
@vinven7 Thanks for reporting the issue! We will take a look into this and keep you posted.

[2022-03-04 16:33] hugochan commented on #517
@xguo7 Can you please add a readme to the NER example?

[2022-03-04 16:38] hugochan commented on #507
@colabofficial3 thanks for raising the issue! Can you please elaborate a bit more on this?

[2022-03-04 16:41] hugochan commented on #499
@nashid thanks for reporting this issue! Can you please share more context (e.g., which task/dataset/model setting?) to help us reproduce the issue?

[2022-03-04 16:43] hugochan commented on #490
@nashid thanks for your attention to the library! FYI, we are working on implementing RGCN which will be available in our next release.

[2022-03-04 16:44] #489 closed

[2022-03-04 16:50] hugochan commented on #489
@nashid Thanks for your attention to the library! We are not planning to support GIN in the short term because we rarely see GIN applications on NLP tasks. Please let us know if you are aware of any interesting NLP applications using GIN.

Closed the issue as of now. Please feel free to reopen it or send a PR.

[2022-03-05 03:23] nashid commented on #517
@vinven7 what do you mean? You want to see number of edges and number of nodes in a graph?

[2022-03-05 04:03] vinven7 opened #519 "name_entity_recognition"
When I run

` python examples/pytorch/name_entity_recognition/main.py`

i get the error:

`starting build the dataset                                                                                              Traceback (most recent call last):                                                                                        File "examples/pytorch/name_entity_recognition/main.py", line 391,

[2022-03-05 11:02] vinven7 commented on #519
This seems to be a problem with the ConllDataset:

`TypeError                                 Traceback (most recent call last)
<ipython-input-9-058c9c65c445> in <module>
----> 1 dataset = ConllDataset()

~/anaconda3/envs/vineeth/lib/python3.6/typing.py in __new__(cls, *args, **kwds)
   1229             raise TypeError("Type Generic cannot be instantiated; "
   1230                             "it

[2022-03-05 11:15] vinven7 commented on #321
@AlanSwift @SaizhuoWang @yogeshhk I am having this exact issue. I raised a new issue before I saw this one. Could you please help?

[2022-03-05 11:27] SaizhuoWang commented on #519
Thanks for reporting this issue. We will look into this.

Currently, a quick fix is to uncomment L221-L224 in `examples/pytorch/name_entity_recognition/conll.py` to implement the `download()` method. But this requires you to make sure that the raw Conll dataset is present, i.e. the `conll/raw` dir in the NER example directory and the corresponding files are present.

We will be working on a more t

[2022-03-05 11:44] vinven7 commented on #519
@SaizhuoWang Thank you! This function is not being executed. I'm getting the same error as before

[2022-03-05 12:09] SaizhuoWang commented on #519
Noted. I'll investigate this deeper.

[2022-03-05 12:14] vinven7 commented on #519
The error is the same as before:

`TypeError: Can't instantiate abstract class ConllDataset with abstract methods download
home@spatula graph4nlp]$ python examples/pytorch/name_entity_recognition/main.py
starting build the dataset
Traceback (most recent call last):
File "examples/pytorch/name_entity_recognition/main.py", line 384, in <module>
runner = Conll()
File "examples/pytorch/name_entity_rec

[2022-03-07 13:33] vinven7 commented on #519
@SaizhuoWang Hi, I have opened some issues in the gaphnlp_demo repo. Could you please take a look at those as welll?

[2022-03-08 03:40] nashid opened #520 "multi-token EmbeddingConstruction"
## 📚 Documentation

I am confused with the `EmbeddingConstruction` documentation.

[code]

If I understand correctly if there are multiple tokens in the node attribute i.e.: `graph_data.node_attributes[index]["token"] = "I am multiple tokens"`, in that case I should set `single_token_item` as `false`. Is this understanding correct?

Secondly, why I can't set `seq_info_encode_strategy` as `true` fo

[2022-03-08 03:53] nashid commented on #504
@AlanSwift sorry for asking again. Wondering when do we think this issue would be resolved? Would really appreciate your help.

[2022-03-08 12:46] nashid commented on #520
@vinven7 do you know?

[2022-03-09 18:57] nashid commented on #490
@hugochan this is fantastic news. I am wondering tentatively when the RGCN implementation would be available? Looking forward to your response.

[2022-03-09 19:10] ramsey-coding commented on #505
@AlanSwift @hugochan @SaizhuoWang this is a serious limitation of the library. Would this be resolved for the library? Or is it a fundamental flaw in the library that beam-search would not be supported for the library.

[2022-03-09 19:21] ramsey-coding commented on #496
@AlanSwift @hugochan @teddylfwu this is a fantastic library. And to the best of my knowledge, this is the only GNN library that NLP focused.

Just my 2 cents:

- I think the effort for the library is slightly misdirected. For example, the library has severe bug like [Beam search is broken](https://github.com/graph4ai/graph4nlp/issues/505). I think any `Major` bug should be prioritized as that comp

[2022-03-09 19:54] ramsey-coding commented on #505
@AlanSwift @hugochan @teddylfwu @SaizhuoWang  my feedback about the library:

- I think the effort for the library is misdirected. For example, the library has severe bug like [Beam search is broken](https://github.com/graph4ai/graph4nlp/issues/505). I think any `Major` bug should be prioritized as that completely limits the use of the library.

- Even if I look into the current Roadmap, I see eff

[2022-03-09 23:32] ramsey-coding commented on #496
Furthermore, I see in the description work on configuration system is stated as a "New Feature":

`[New Feature] A brand new configuration system based on OmegaConf`

This is not a feature. Feature is something that adds value to a project. So the understanding of what is called as a "feature" is wrong. It should be stated "Code Debt" or "Maintenance" work.

[2022-03-10 01:31] nashid commented on #520
@AlanSwift @hugochan can anyone please help me with this query?

[2022-03-10 06:30] SaizhuoWang commented on #519
Hi. I've followed the quick fix mentioned previously and it worked out fine for me. Please make sure the fix are made and try it again, thanks! We will also fix it in the source code in the coming version.
<img width="1176" alt="image" src="https://user-images.githubusercontent.com/26665465/157602699-5f136f47-396d-4421-9f93-72f882c65f9c.png">

[2022-03-13 14:39] xguo7 commented on #517
The readme of NER example has been added.

[2022-03-13 14:40] xiao03 commented on #507
This issue is closed as no details are provided. Please add more information when creating an issue. @colabofficial3

[2022-03-13 14:40] #507 closed

[2022-03-13 14:43] xguo7 commented on #490
@nashid Thank you! We expect the release of the next version within two months.

[2022-03-13 14:43] #492 closed

[2022-03-13 14:45] #500 closed

[2022-03-17 13:31] #517 closed

[2022-03-17 14:23] #499 closed

[2022-03-19 07:54] nashid opened #524 "GAT with copy mechanism gives error token_id_oov doesn't exist"
## 🐛 Bug

GAT with copy mechanism gives the error `Node feature token_id_oov doesn't exist`.

[code]

[2022-03-26 05:41] #519 closed

[2022-03-28 05:52] nashid opened #528 "How to add an edge with attribute value?"
## ❓ Questions and Help

How to add an edge with attribute value?

[code]

Currently, I can only add an edge between two nodes using their node index. But how to set the `edge_type`? I cant find any API like `add_edge(self, src: int, tgt: int, edge_type: str)`.

Can anyone please provide a pointer or code snippet?

[2022-03-28 06:49] nashid opened #529 "Difference between heterogeneous and as_node"
## ❓ Questions and Help

I am implementing a heterogeneous graph.

- However, after following the documentation, `heterogeneous` and `as_node` is not quite clear to me.

- Secondly, how can I set `edge_attributes` for the `heterogeneous` and `as_node` graphs?

I see following section in the config file:

[code]

If in the config file, if I set `as_node: true` and then set `edge_attribute` using th

[2022-03-28 08:02] hugochan commented on #524
@nashid thanking you for reporting the error! Can you share more context to help us reproduce the error? Are you running one of the provided example applications or building your own application? Did you observe this error with other GNN variants besides GAT?

[2022-03-28 08:09] hugochan commented on #520
@nashid Thank you for your attention to the library!
1) yes, you are correct about the first statement.
2) `seq_info_encode_strategy` specifies strategies of encoding sequential information in raw text (i.e., each token in raw text as a graph node). If a graph node contains multiple tokens, we think in general it doesn't make sense to encode the raw sequential text to help initialize node embeddin

[2022-03-28 14:26] AlanSwift commented on #529
Note: The ``heterogeneous`` GNN is not supported. Currently, it is just stored in the graph data. The edge information will be dropped in the pipeline. But ``as_node`` is supported.
For example, node A --edge type C--> node B (node A and node B are connected with edge type C). For the heterogeneous graph type, edge type C is stored in ``edge``. For ``as_node``, edge C is converted into a new node

[2022-03-28 14:28] AlanSwift commented on #505
Sorry for the late reply. I will handle this issue in this week. @ramsey-coding

[2022-03-28 14:50] AlanSwift commented on #505
I can't reproduce your bug.
This is the beam search results for NMT when K=3, beam=5:
[code]
The beam search's results for topk>1 seem ok. And actually, the beam search can obtain about 1.0 gain for BLEU4 metric.

[2022-03-28 14:53] AlanSwift commented on #504
I can't reproduce it. Can you attach your environments according to the guidance in the [issue template](https://github.com/graph4ai/graph4nlp/issues/new?assignees=&labels=&template=bug-report.md)? (I have tested it and it works fine.)

[2022-03-28 15:35] SaizhuoWang commented on #528
Hi. Currently there's no direct interface for adding edge with attributes. You may add edges first and then modify `edge_attributes`. For example:
[code]
`edge_attributes` are essentially list of dictionaries.

[2022-03-28 17:16] nashid commented on #529
@AlanSwift thanks for the pointers. But one thing that is not clear to me is how to create the graph with `as_node`? Is the following code creating a graph with `as-node`?

Lets say `nodeA` is connected to `nodeB` with an edge with `has` token.

[code]

And I do:

[code]

And I set `as_node: true` in the config:

[code]

Is it creating the `as_node` graph?

(OR do I have to do it manually?)

[2022-03-28 17:29] nashid commented on #528
@SaizhuoWang thanks for the pointers. I explored further and it appeared to me:

- for nodes, only the `g.node_attributes[i]['token']` is used.
- for edges, only the `g.edge_attributes[i]['token']` is used. (But currently, it is not used as the heterogeneous graph is not supported yet.)

The rest of the attributes are dropped by the pipeline during training. Is this understanding correct?

[2022-03-28 17:37] nashid commented on #504
@AlanSwift thanks for looking into it. Really appreciate it. This is the code snippet I used:

[code]

Am I missing something here? Would you point me to the code snippet that you have used?

[2022-03-28 20:14] nashid commented on #520
@hugochan I am applying the Graph2Seq model to the source code.

1. A single line of source code in a single node.
2. Different lines are then connected  with `next-line` edge.

I am wondering why not leave it to the user of the library? The users of the library can set `seq_info_encode_strategy` according to their use case?

[2022-03-29 04:46] SaizhuoWang commented on #528
Yes, your finding is mostly right. For both nodes and edges, we have 2 parallel ways of storing the related info: features and attributes. Features are for numerical info, namely `torch.Tensor`s. It's a dictionary with keys being feature name and values being the corresonding tensor. Attributes are lists of dictionaries where each dictionary corresponds to one node/edge and is independent of each

[2022-03-29 04:48] SaizhuoWang commented on #528
As for the name `token`, it's just a convention of naming since the most frequently used info related to a node/edge in NLP context is `token`.

[2022-03-29 05:00] nashid commented on #528
@SaizhuoWang thanks for your response. I am trying to understand:

- if all `attributes` are dropped, then what's the point of building the attribute dictionary in the first place?

- During debugging, I saw `build_vocab()` in `dataset.py` reads from node_attributes (`g.node_attributes[i]["token"]`) to build the vocab mode. So is it like `embedding` step is used to learn the embedding for the word

[2022-03-29 05:09] SaizhuoWang commented on #528
Thanks for your interest. To clarify this, let's review the general workflow of `graph4nlp`, which can be roughly presented as:
Graph Construction -> Graph Encoding (that's where GNN is involved) -> Graph Decoding

`dgl`, as a GNN library, is only involved in the Graph Encoding(GNN) stage. So the former and latter stages still use `GraphData`. `attributes` are dropped when converting to `DGLGraph`

[2022-03-29 05:26] nashid commented on #528
Thanks for the clarification. I am using `graph4nlp` for a Neural Machine Translation (NMT) task.

I used `single_token_item` for each node and `sequential_link` is set to true. So its like where `tokenN-1` and `tokenN` is connected by an edge:

`token1 - token2 - …..token(N-1)…tokenN`

- Based on my understanding, during `Graph Construction` the embedding generation step would learn the initial e

[2022-03-29 07:15] hugochan commented on #520
@nashid That's a good question! We want to keep a good balance between providing enough flexibility to users and providing off-the-shelf solutions which are proven to be effective in existing literature. For multi-token node, we think it's a common practice to run a sequence encoder on each node to initialize the node embeddings in many scenarios (e.g., IE graph, knowledge graph). Users are encour

[2022-03-29 07:22] nashid commented on #520
@hugochan if I use pre-trained embedding (let’s say `word2vec` or `gloVe`), I presume I can just feed the pre-trained embedding.

For `multi-token node`, would that work? Can you please point me to an example, if you have one?

[2022-03-29 07:28] hugochan commented on #520
@nashid yes, you can refer to this text summarization [example](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/summarization/cnn/config/gcn_bifuse_ie.yaml) which constructed an IE graph (containing multi-token nodes).

[2022-03-29 11:37] SaizhuoWang commented on #528
In your example, the original token is stored in the `node_attributes` and the token embedding which is `torch.Tensor` is stored in `node_features`. At the interface of `Graph Constrcution -> GCN`, `node_features` are passed from `GraphData` to `DGLGraph`. So the token embeddings are passed but the original tokens are not passed to the `DGLGraph`.

[2022-03-29 15:09] AlanSwift commented on #504
I still can't reproduce it.
You can try this branch: [NMT](https://github.com/graph4ai/graph4nlp/tree/bug-beam_search_topk).
For training:
[code]
For inference: beam=5, top_k=5, see [inference_advance.py](https://github.com/graph4ai/graph4nlp/blob/0657b812982be0f9672b4baae7ec0822680d1ba0/examples/pytorch/nmt/inference_advance.py#L119)
[code]
The outputs are correct.

[2022-03-29 15:13] AlanSwift commented on #529
No. Please refer to the [docs](https://graph4ai.github.io/graph4nlp/guide/construction/dependencygraphconstruction.html?highlight=as_node) for detailed introduction.

[2022-03-29 21:07] #488 closed

[2022-03-29 22:11] ramsey-coding commented on #505
The `prefix` is always the same in all the cases. Why is that?

Let's take the "ground truth:  to this day , they re@@ main rul@@ ed by a ritual pri@@ es@@ tho@@ od but the training for the pri@@ es@@ tho@@ od is rather extraordinary .
"

The predictions all starting with "until the next day".  This output suggest during prediction it is not keeping track of k states and rather than just one is us

[2022-03-29 22:37] smith-co opened #530 "Using different GNN for the NMT task"
## ❓ Questions and Help

I want to use different GNN architecture for the NMT model that is provided. I presume I set the "graph_embedding_name:" to different GNN architectures, i.e.:

- gat
- graphsage
- ggnn

And then adjust the `graph_construction_private` values and that would do?

I am particularly interested to run NMT with GAT as that makes more sense as I can use copy mechanism. Of course

[2022-03-29 22:52] smith-co opened #531 "What is `direction_option`?"
## ❓ Questions and Help

Couple of questions that I can't figure out neither from documentation nor from Github issues.

1. Direction_option option could be `undirected`, `bi_sep` or `bi_fuse`. What does it mean really?

2. Also the documentation is very confusing about relational graph support. It says:

- heterogenous graph
- As node

I saw [documentation](https://graph4ai.github.io/graph4nlp/gu

[2022-03-29 22:56] smith-co opened #532 "How to do ablation for the BPE?"
## ❓ Questions and Help

I want to disable BPE for the NMT example and see with and without BPE.

How can I do that? Where the pre-processing is happening? Or is there a configurable parameter?

[2022-03-29 22:59] smith-co opened #533 "What happens if we don't provide embedding for some tokens?"
## ❓ Questions and Help

What would happen if I don't provide embedding for all the tokens? I presume that would be initialized with random one-hot vector?

[2022-03-29 23:09] code-rex1 opened #534 "How to incorporate different pre-trained models?"
## ❓ Questions and Help

I want to use different pre-trained model. Lets say I want to use [CodeBERT](https://huggingface.co/microsoft/codebert-base) pre-trained embedding.

Is the framework extendable to use different pre-trained embedding? Or it is not possible? Any pointers welcome.

[2022-03-29 23:15] code-rex1 opened #535 "How initial embedding is generated?"
## ❓ Questions and Help

If I use the following configuration:

[code]

Then how the initial embedding would be generated? Will it still learn the embedding assuming the node order reserves the sequential order in raw text. Or `sequential_link` needs to be set to `true` for that?

[2022-03-29 23:23] smith-co opened #536 "Running machine translation using different GNNs"
## ❓ Questions and Help

I am running the NMT example on the same dataset with GNN variants:

- GCN
- GGNN
- GraphSage

While the execution runs with GCN, I get Out-of-Memory (OOM) for GGNN and GraphSage. Can anyone help me with this query?

[2022-03-30 03:27] nashid commented on #528
@SaizhuoWang thanks for the clarification.

- So `build_vocab()` in `dataset.py` reads from `node_attributes (g.node_attributes[i]["token"])` and build the vocab model.
- During the `Graph Construction -> GCN`, `node_features` from `GraphData` are passed to DGLGraph.

But I see there are attributes like `'type'` which is used when `edge_strategy == "as_node"`. Is it mandatory that I have to set `t

[2022-03-30 03:42] SaizhuoWang commented on #528
Thanks for your reply. There are no built-in mandatory requirements on any of the `node_attributes` or `edge_attributes`. There do exist some default names as you may find in https://github.com/graph4ai/graph4nlp/blob/d980e897131f1b9d3766750c06316d94749904fa/graph4nlp/pytorch/data/data.py#L40 . But the naming conventions are specific to different examples and use cases. Please find out the require

[2022-03-30 03:45] nashid commented on #529
@AlanSwift thanks for the pointers. I see:

[code]

This is essentially creating a node for edge type `3` and setting `token` as `edge_type` for the node. And then adding this new node in between `src` and `tgt`.

In my case, I am building a graph from scratch. So I presume the only important bit is to create a new node for my edges and to set the `edge_type` as `token`. Am I correct?

I don't nee

[2022-03-30 04:08] nashid commented on #534
@code-rex1 I dont pretend to be expert here. But looks like you can set the `bert_model_name` in the config file and that should do.

https://github.com/graph4ai/graph4nlp/blob/7690b54eff4194ea0627be82a5f6316e19caddfa/graph4nlp/pytorch/modules/config/graph_construction/dependency.yaml#L38

[2022-03-30 13:37] AlanSwift commented on #505
Can you explain it?

[2022-03-30 13:50] AlanSwift commented on #505
There is no guarantee about the results' prefix.
This is an example:
1: A B C D
2: A B E F
3: C D E F
If the final score 1 > 2 >3，the 3 is dropped and 1 and 2 are reserved with the same prefix A B. The prefix is not guaranteed to be the same, This is just a natural result.
I suggest you dig into the [beam search algorithm](https://www.width.ai/post/what-is-beam-search).

[2022-03-30 13:50] #505 closed

[2022-03-30 14:09] AlanSwift commented on #535
Q: Then how the initial embedding would be generated?
A: Please refer to the [graph embedding initilization](https://github.com/graph4ai/graph4nlp/blob/master/graph4nlp/pytorch/modules/graph_embedding_initialization/graph_embedding_initialization.py).
Q: Will it still learn the embedding assuming the node order reserves the sequential order in raw text. Or sequential_link needs to be set to true f

[2022-03-30 14:11] AlanSwift commented on #534
Yes. Thanks a lot! @nashid

[2022-03-30 14:15] AlanSwift commented on #532
I am afraid you have to implement it since this NMT example is just an example to guide the user.

[2022-03-30 14:27] AlanSwift commented on #529
Yes. The ``type`` is not the exact edge type. This is just for easy implementation.
The heterogeneous graph is not supported now. (We will support R-GNN soon.)

[2022-03-30 14:28] AlanSwift commented on #531
1. undirected, bi_sep or bi_fuse:
These options are named according to the message passing. Undierced: undirected graph. Bi-sep: directed graph, the forward and backward information are handled separately, Bi-fuse: directed graph. The forward and backward information are fused together.
I suggest to read our paper for this library: [survey paper](https://arxiv.org/pdf/2106.06090.pdf).

2. ``as_nod

[2022-03-30 14:32] AlanSwift commented on #530
You can change GNN to gat, graphsage and ggnn according to your need.

For copy, you have to change the code. Please refer to the [semantic_parsing](https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/semantic_parsing/graph2seq), QG, summarization's implementation.

[2022-03-30 14:37] #520 closed

[2022-03-30 16:06] hugochan commented on #533
@smith-co yes, out-of-vocab tokens will be randomly initialized from a uniform distribution. You can refer to the details [here](https://github.com/graph4ai/graph4nlp/blob/master/graph4nlp/pytorch/modules/utils/vocab_utils.py#L294).

[2022-03-30 16:06] #533 closed

[2022-03-30 19:09] smith-co commented on #530
@AlanSwift For NMT, `GAT with copy mechanism` is very common. All the NMT model like OpenNMT support it. Do you plan to add an example for that, please🙏?

[2022-03-30 19:19] smith-co commented on #530
Regarding the number of heads, do you recommend any heuristics regarding how many heads to use?

[code]

[2022-03-30 19:27] smith-co commented on #531
- Currently all graphs are undirected, then what's the point of `bi_sep` `bi_fuse`? It should be set as `undirected` across all config files. Isn't it?

- It was mentioned in this [issue](https://github.com/graph4ai/graph4nlp/issues/49) that RGCN would be supported in March. I looked through all config files, but can't really find out any examples using RGCN. Sincere apologies. Would you mind poin

[2022-03-30 19:31] #529 closed

[2022-03-30 19:33] smith-co commented on #532
Sure, I can do that. But can you please provide me with any pointers?

[2022-03-30 19:39] code-rex1 commented on #534
@nashid The solution provided by you does not work:

[code]

Error:
[code]

@AlanSwift the solution provided by @nashid does not work. Can you please provide any pointers?

[2022-03-30 19:44] code-rex1 commented on #535
@AlanSwift just to summarize:

1. `sequential_link` has nothing to do with the node embedding.
2. When I use `LSTM` to initialize the node embedding, it will always preserve the `sequential order in raw text`.
3. And if `sequential_link` is `True`, sequential edges will be added between sequential tokens.

Please correct me if I misunderstood.

[2022-03-30 19:47] smith-co commented on #536
@AlanSwift I already tried a smaller batch size. What I find suprising is:

- It runs for GCN and GAT.
- But it gives Out-of-Memory (OOM) for GGNN and GraphSage.

Its the same dataset. But GGNN and GraphSage fails to run while GCN and GAT works.

So GGNN/GraphSage needs more resource for some reason? Super interested to know why?

[2022-03-30 22:47] code2graph opened #537 "using copy mechanism"
## ❓ Questions and Help

Came across this fantastic library just a week back. This library is looking great 🥇

I will be mostly using the example for **machine translation**. Will also use the **text summarization at a later point.

I am currently using `opennmt` for **machine translation** and use the `copy_mechanism` as my source and target has same vocabulary. Now I will be moving to your libra

[2022-03-30 23:14] code2graph opened #538 "Why adjusting learning rate is commented out?"
## ❓ Questions and Help

I see in the NMT example, adjusting learning rate is disabled.

[self._adjust_lr(epoch)](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/nmt/main.py#L135)
[code]

I am wondering whether that was done purposefully? You were getting bad result when it was enabled?

Would appreciate if you share your insight.

[2022-03-31 00:06] code2graph opened #539 "Do you plan to support Transformer based decoding?"
## ❓ Questions and Help

Currently RNN is used during decoding.

1. Do you plan to support Transformer based decoding?

2. Is the `Graph2Seq` model is competitive with `OpenNMT Transformers` for a machine-translation task? If not what's the point of using graph based model?

[2022-03-31 00:22] code-rex1 opened #540 "Intuition of Uniform attention and Separate attention"
## ❓ Questions and Help

- I have been trying to understand the following two concepts as described in the [repo](https://github.com/graph4ai/graph4nlp/blob/bc8cb31dcb065ca210bf86b172c30d21ed24c1a0/docs/_sources/guide/decoding/stdrnndecoder.rst.txt#separate-attention):

1. Uniform attention
2. Separate attention

The description is not really clear to me. Would really appreciate it if you can plea

[2022-03-31 00:35] nashid commented on #524
@hugochan I am running the provided example of the `NMT` but I enabled the copy mechanism as my source and target vocabulary is the same.

Currently [`oov_dict = None`](https://github.com/nashid/Slice4Context/blob/main/graph2seq-gnn-variants/ast_main_gat.py#L230)

Looks like I have to use the API `prepare_ext_vocab`. Probably something like:

[code]

Please correct me if I am wrong.

[2022-03-31 04:03] nashid commented on #528
@SaizhuoWang but what I see from the code, 'token' is mandatory.  for example:

https://github.com/graph4ai/graph4nlp/blob/master/graph4nlp/pytorch/data/dataset.py#L109
[code]

Code always expects the text inside a node in the `GraphData` in the `token` `node_attribute`.

[2022-03-31 04:41] code-rex1 opened #541 "Confused with num_heads parameter for GCN"
## ❓ Questions and Help

I am confused with:

a) I see `num_heads` in the GCN config file.
https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/nmt/config/dynamic_gcn.yaml#L22

I thought num_heads is only relevant for GAT for attention. Is it relevant for GCN? If yes, please correct me.

b) What is the `top_k_neigh` config param? How should I use it?

[2022-03-31 16:22] AlanSwift commented on #541
1) This parameter has no relation to GNN. It is for dynamic graph construction which has multi-head attention.
2) This is for dynamic graph's graph sparsing mechanism.
Please refer to our paper's dynamic graph section. [paper](https://arxiv.org/abs/2106.06090)

[2022-03-31 16:27] AlanSwift commented on #540
sep_diff_encoder_type: encoder pipeline: RNNencoder  --> GNN encoder. The decoder attends on graph encoder and rnn encoder's results separately.
sep_diff_node_type: for example, there is a graph with 10 nodes with two types: A and B. The decoder attends on different node types separately.
See [docs](https://graph4ai.github.io/graph4nlp/modules/prediction.html?highlight=rnndecoder#graph4nlp.predict

[2022-03-31 16:29] AlanSwift commented on #538
No, I just comment on it during debugging since I didn't tune it.

[2022-03-31 16:38] AlanSwift commented on #537
1. The examples are just examples to guide the users, which don't support all functions in our library (And we don't plan to for every application.). The NMT doesn't support copy mechanism since the source and target's vocabularies are different. You have to implement it by yourself. Other applications such as QG, semantic-parsing are examples that support copy.
2. Copy mechanism is a general NLP

[2022-03-31 16:46] AlanSwift commented on #536
We haven't investigated the memory efficiency for dgl :).
It seems that GGNN and GraphSage need more GPU memory.

[2022-03-31 16:56] AlanSwift commented on #535
1. Wrong. ``sequential_link `` will add sequential order edges in the constructed graph. The node embedding after GNN calculation will contain sequential order information if it is ``True``.
2. Not exactly. The GNN takes the initial embedding A and output embedding B. A will contain sequential order if you use RNN to initialize it. And there is no guarantee that B must contain sequential order if

[2022-03-31 17:07] AlanSwift commented on #532
1. You can read the [semantic parsing](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/semantic_parsing/graph2seq/main.py). This is a good example that shows how copy works.
Also the original paper: [pointer network](https://arxiv.org/abs/1704.04368).
2. You can design the special source and target vocabs. For example, they are 1k words. The source and target's vocabs can be the

[2022-03-31 17:10] AlanSwift commented on #537
I can share my thoughts if you want to implement copy for NMT.
1. You can read the [semantic parsing](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/semantic_parsing/graph2seq/main.py). This is a good example that shows how copy works.
Also the original paper: [pointer network](https://arxiv.org/abs/1704.04368).
2. You can design the special source and target vocabs. For exampl

[2022-03-31 17:15] AlanSwift commented on #531
1. Sorry. I just want to say we just support homogeneous (directed or undirected) graphs or transformed levi-graph (``as_node``).
2. This feature is under developing and there is no stable branch.

[2022-03-31 17:22] AlanSwift commented on #530
1. We are sorry that the copy for NMT is not on my plan currently. I will do it in the future month if this is a need.
There are some suggestions: #537 .
2. Empirically, 2-4 is worth trying. However, I strongly recommend trying different parameters in specific applications.

[2022-03-31 17:56] smith-co commented on #530
@AlanSwift for 2. are you referring to use number of `heads` between 2-4.?

[2022-03-31 17:57] smith-co commented on #531
@AlanSwift thanks for your response. For `2`, I would not mind even to try out this feature if you give me a branch and do the beta testing 👍

[2022-03-31 18:10] code2graph commented on #537
@AlanSwift I suppose I have to try out the `copy mechanism` with different GNN and validate it empirically. That's what you meant?

[2022-03-31 18:16] code2graph commented on #538
@AlanSwift what I have to do to tune it? Not sure whether I understood it. It felt to me the same adjusting learning rate was used for other applications as well. My question is:

1. What do you mean by you have not tune it?
2. I would be happy to follow the steps if you stare with me and I can contribute back to the library.

[2022-03-31 18:20] code-rex1 commented on #540
@AlanSwift I see I can specify text content of a `node` with `token`. How to definite `type` for a node?

[2022-03-31 18:29] nashid commented on #537
@AlanSwift you mentioned:

[code]

Wondering why you mentioned to use a small vocab of `1k`? Is it better to use small vocab size empirically? Also I suppose I just need to change the config here i.e.

- graph_embedding_name: "gat"
- top_word_vocab: 1000

[code]

[2022-03-31 18:31] code-rex1 commented on #534
@AlanSwift the solution suggested about does not work and I get `TypeError: stat: path should be string, bytes, os.PathLike or integer, not NoneType`.

Can you please help?

[2022-03-31 19:13] smith-co opened #542 "tgt_emb_as_output_layer config parameter"
## ❓ Questions and Help

I do not understand `tgt_emb_as_output_layer` parameter.

[code]

For some example, I see it is set to `TRUE` while for some it is `False`.

Can anyone please explain this parameter?

[2022-03-31 19:18] smith-co commented on #537
I am also interested to run NMT with copy mechanism. I looked at the example of `semantic_parsing`. I see the only difference:

1. [`use_copy: true`](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/semantic_parsing/graph2seq/config/new_constituency_gcn_bi_fuse.yaml#L57)

2. Set  [`oov_dict`](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/semantic_parsing/grap

[2022-04-01 03:38] smith-co commented on #536
@AlanSwift I get this OOM error at runtime for GGNN:

[code]

Any idea?

[2022-04-01 03:55] smith-co commented on #536
@AlanSwift came across this discussion at DGL: [Memory consumption of the GGNN module](https://github.com/dmlc/dgl/issues/852)

[2022-04-01 08:31] hugochan commented on #534
@code-rex1 currently, only BERT model is supported ([code](https://github.com/graph4ai/graph4nlp/blob/master/graph4nlp/pytorch/modules/graph_embedding_initialization/embedding_construction.py#L414)). We will definitely consider supporting more pre-trained language models in the future. Please stay tuned.

[2022-04-01 08:45] hugochan commented on #518
Hi @vinven7, sorry for the late reply! I was not able to reproduce the error. Can you tell me which library version you were using? Because the error was raised by `item = deepcopy(data_item)`, can you print out the data_item? Another thing to try is maybe you can delete the `data/trec/processed/constituency_graph` folder and rerun the code.

[2022-04-01 09:12] code-rex1 commented on #534
@hugochan looking forward to it. I have to try out the [CodeBERT](https://huggingface.co/microsoft/codebert-base) pre-trained embedding urgently 😓

Would you mind providing me with some pointers so that I can give a go 🙏

[2022-04-02 04:06] nashid commented on #534
@code-rex1 I presume you can try with [Auto Classes](https://huggingface.co/docs/transformers/model_doc/auto). [Auto Classes](https://huggingface.co/docs/transformers/model_doc/auto) will select the proper classes for you:

[code]

I presume that's all you need. But of course, I am no expert here. @hugochan and @AlanSwift can suggest you much better.

[2022-04-02 04:08] code-rex1 commented on #534
Will this solution suggested above would work @hugochan @AlanSwift? Please help 🙏

[2022-04-02 04:36] smith-co opened #544 "Confusion about parameters"
## ❓ Questions and Help

I am confused about the following parameters?

[code]

1. Are these parameters specific to any specific GNN i.e., GCN, GAT, GGNN, or for GraphSage?
3. Or they are generic and applicable to all?

[2022-04-02 05:37] #524 closed

[2022-04-02 05:39] #541 closed

[2022-04-02 05:40] AlanSwift commented on #540
Please refer to the graph construction component.

[2022-04-02 05:40] #539 closed

[2022-04-02 05:42] AlanSwift commented on #538
The early stop is a good trick to get better performance but you have to tune the stop time. But I haven't tune it.

[2022-04-02 05:47] AlanSwift commented on #537
The ``1k`` is just an example to illustrate this problem. In short: the source and target can share the same words in the front with the same id and with others in the following. This example has no relation with any applications' ``top_word_vocab ``.

[2022-04-02 05:48] AlanSwift commented on #537
In semantic parsing, the source and target vocabs are exactly the same. But in NMT, they are different in most cases. This is the challenge for copy.

[2022-04-02 05:53] AlanSwift commented on #536
It seems the dgl sacrifices memory efficiency for time efficiency. We will pay attention to this problem. Thank you for letting us know it!

[2022-04-02 05:55] AlanSwift commented on #531
Thanks!

[2022-04-02 05:55] #531 closed

[2022-04-02 05:58] #532 closed

[2022-04-03 01:33] hugochan commented on #534
@code-rex1 I am not familiar with `AutoModel`, but after a quick review on HuggingFace Auto Classes, this sounds to me a promising solution to supporting various pre-trained models in a unified way in our library. We will definitely consider this solution when we work on supporting more pre-trained language models in the future.

As of now, you will need to build your own customized embedding clas

[2022-04-03 06:47] code-rex1 opened #546 "RGCN branch"
## ❓ Questions and Help

Thanks for this great library. I am greatly interested to try out the RGCN graph.

I see there are two branches:

1. https://github.com/graph4ai/graph4nlp/commits/rgcn
2. https://github.com/graph4ai/graph4nlp/tree/rgcn_graphdata

It appears RGCN work is still in the progress. But I am more than happy to try out and beta-testing the RGCN graph for an NMT task.

Any help is

[2022-04-03 14:14] xiao03 commented on #546
Hi @code-rex1, Thanks for your interest in our work. Currently RGCN work is still in progress and the code may not run as intended. Please be patient and we will announce our progress as soon as possible.

Meanwhile, I'm closing this issue as it is about something in active developing and at the current stage we cannot provide any support regarding it.

[2022-04-03 14:14] #546 closed

[2022-04-03 23:50] code2graph commented on #537
@AlanSwift I understand for NMT the source and target vocab are different in most cases. However, for my case, the source and target vocab are same.  Also consider the following scenario:

[code]

[2022-04-05 03:31] nashid opened #547 "Is there a way to visualize the GraphData?"
## ❓ Questions and Help

I am wondering whether is there a way to visualize the `GraphData` object?

Currently, I am doing the following:

[code]

This is how I am visualizing the `GraphData` object. But `DGL` does not preserve the "text", i.e. tokens in the node. So I am wondering is there some other API that I can use to visualize the GraphData object with the "token" values itself.

Any pointer

[2022-04-06 06:25] code-rex1 opened #548 "visualize attention"
## ❓ Questions and Help

The library is super helpful, great work.

I would like to visualise attention like the following tutorial.
http://pytorch.org/tutorials/intermediate/seq2seq_translation_tutorial.html

Other libraries like [OpenNMT-py](https://github.com/OpenNMT/OpenNMT-py) also support this feature.

Is there any optional argument to get attention information when I try to run translation

[2022-04-06 06:37] smith-co commented on #530
@AlanSwift what do you suggest for the NMT task?

- can you please point to me what parameters are you referring for the number of heads with GAT?
- Also what number of training steps what you recommend to try with?

[2022-04-06 06:37] smith-co commented on #536
@AlanSwift wondering can you please provide me with a fix/suggestion 🙏

[2022-04-06 08:09] hugochan commented on #544
@smith-co thanks for your interest to the library! These are parameters related to dynamic graph construction and don't depend on specific GNNs. You might want to refer to [library documentation](https://graph4ai.github.io/graph4nlp/guide/construction/dynamic_graph_construction.html#guide-dynamic-graph-construction) for more details.

[2022-04-06 09:27] AlanSwift commented on #458
The multiprocess support is done in pr #550 .

[2022-04-06 14:28] schenglee commented on #548
Thank you very much for your feedback, unfortunately, we don't support attention visualization yet, we may consider putting it in the roadmap in the future, if you are interested in it, we welcome your PR!

[2022-04-06 19:35] smith-co opened #551 "BPE for the NMT example"
## ❓ Questions and Help

I see in the given example `BPE` is removed during [evaluation](https://github.com/graph4ai/graph4nlp/blob/master/examples/pytorch/nmt/main.py#L233):

[code]

remove BPE code:
[code]

But where are you applying `BPE` during vocab building?

[2022-04-06 19:40] smith-co opened #552 "How to do hyperparameter optimization?"
## ❓ Questions and Help

I would like to do try out different hyperparameters and compare their performance for the NMT example.

There are libraries like the `Hyperopt` library for tuning.

I would be interested to know is there a programmatic way to try out automated hyperparameter tuning option. Any ideas welcome.

[2022-04-06 20:05] code-rex1 opened #553 "Parameters for hyperparameter tuning"
## ❓ Questions and Help

Here you have presented a Graph2Seq and Graph2Tree model. I would like to know what are the search space I should use for these Graph2Seq and Graph2Tree model.

Would be really interested to know what should be the reasonable values for different graph variants as well.

I had look into your paper [Graph4NLP survey](http://arxiv.org/abs/2106.06090) to find out the reasonab

[2022-04-08 21:34] code2graph commented on #538
@AlanSwift can you please give me some pointers how can I tune it? I would be happy to work on it and contribute a PR.

[2022-04-10 04:01] schenglee commented on #553
This is a nice question, we have put this issue into our TODO list, and we will soon build a document that could help hyperparameter tuning, stay tuned, please.

[2022-04-10 04:03] schenglee commented on #552
For hyperparameter tuning, please refer to issue #553, thank you for your feedback.

[2022-04-10 04:11] AlanSwift commented on #551
Yes. The raw data are tokenized by BPE.

[2022-04-11 23:42] code-rex1 opened #554 "RGCN feature and branch"
## ❓ Questions and Help

I am investigating using this library but for my use case I have to try out the RGCN graph.

I see the following active branch for `RGCN`:

https://github.com/graph4ai/graph4nlp/commits/rgcn

I am more than happy to try out and beta-testing the `RGCN` graph for an `NMT` task.

Any help is appreciated.

[2022-04-11 23:46] xiao03 commented on #554
Hi @code-rex1, thanks for your interests. As you can see, the work is currently in progress and not ready for testing. Please do not open similar issues. Your patience would be much appreciated.

[2022-04-11 23:46] #554 closed

[2022-04-19 15:08] code-rex1 commented on #553
@schenglee wondering do you have any update on this issue? 🙏

[2022-04-19 15:11] code-rex1 commented on #548
@schenglee can you provide some pointers and I would be happy to help.

[2022-04-19 15:13] code-rex1 commented on #535
@AlanSwift is there a graph showing the flow that you mentioned? That would be really helpful to understand the flow.

[2022-04-19 15:15] nashid commented on #536
@AlanSwift, this is interesting. I also faced the same problem. Wondering do you have any solution to this?

[2022-04-19 15:16] code2graph commented on #538
@AlanSwift can you please provide any pointers 🙏

[2022-04-21 07:02] nashid opened #555 "Reference paper for the NMT example"
## ❓ Questions and Help

Can anyone please refer me to the reference paper for the [NMT](https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/nmt) example?

[2022-04-21 23:02] code-rex1 opened #556 "Model diagrams for the GNN examples"
## ❓ Questions and Help

This repo presents couple of nice examples for the GNN.

I am particularly interested about:

- [Semantic Parsing](https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/semantic_parsing)
- [NMT](https://github.com/graph4ai/graph4nlp/tree/master/examples/pytorch/nmt)

Do you have the model architecture described somewhere as part of the tutorial or documentatio

[2022-04-22 03:43] code2graph commented on #538
@AlanSwift sorry for pinging you again with this issue.

Can you please provide me with some pointers and I am happy to work that, tune it and then contribute back to the library. Would really appreciate your help.

[2022-04-22 17:29] code-rex1 commented on #556
@AlanSwift @hugochan can you please help?

[2022-04-22 17:30] code-rex1 commented on #554
@xiao03 can you please help or provide any pointers?

[2022-04-22 17:31] smith-co commented on #551
@AlanSwift can you please help me with the query?

[2022-04-22 17:33] nashid commented on #555
@AlanSwift, can you please share your insight?

[2022-04-22 17:48] AlanSwift commented on #556
Currently, we don't provide the architecture graph about the specific applications. But we have visualized specific graph types such as dependency and etc. in our survey paper.

[2022-04-22 17:49] smith-co opened #557 "What loss function is used for the NMT example?"
## ❓ Questions and Help

For the NMT example, what loss function is used? I see Adam optimizer is used. But how the loss is calculated?

Can you please provide some pointers?

[2022-04-22 17:52] AlanSwift commented on #556
There are some differences.
We apply RNN or bert encoding before GNN to initialize the node embedding. And we use separate attention: 1. attention on node embedding, 2. attention on node initial embedding. This is just an example. For more details, please refer to our docs.

[2022-04-22 17:55] AlanSwift commented on #555
This is just an application of our library. There is no extract reference paper.

[2022-04-22 18:00] code-rex1 commented on #556
@AlanSwift thanks for your response. But I can't find that much details in the document.

I see at first you generate initial node embedding using word2ve or BERT.

But your statement about the `separate attention: 1. attention on node embedding, 2. attention on node initial embedding` is not clear. Can you please elaborate? 🙏

[2022-04-22 18:01] AlanSwift commented on #551
The current NMT example is using BPE since the BPE is a good practice and is widely used in the NMT community. Technically it is OK if you want to use the whole words as your vocabulary in your own application. However, your vocabulary will be large if you do it. What's more, the performance may be limited by the OOV(out of vocabulary problem).

[2022-04-22 18:02] nashid commented on #555
@AlanSwift got it. Is the high-level architecture of the model described in the document or in a tutorial? I cant find any. Any help to provide more details about the model be super helpful.

[2022-04-22 18:02] AlanSwift commented on #557
Cross Entropy Loss
[https://github.com/graph4ai/graph4nlp/blob/1dd4a3cd831f5a991ba122f59ad7dfdd7733f683/graph4nlp/pytorch/models/graph2seq_loss.py#L6](https://github.com/graph4ai/graph4nlp/blob/1dd4a3cd831f5a991ba122f59ad7dfdd7733f683/graph4nlp/pytorch/models/graph2seq_loss.py#L6)

[2022-04-22 18:08] AlanSwift commented on #542
This is determined according to the specific experimental results.

[2022-04-22 18:08] code-rex1 commented on #557
@AlanSwift is there a way to visualize the loss function? I supposed I have to parse the following input and draw the graph?

[code]

[2022-04-22 18:08] #518 closed

[2022-04-22 18:08] #528 closed

[2022-04-22 18:12] smith-co commented on #542
@AlanSwift not quite sure what you meant? Is it a hyper-parameter then?

[2022-04-22 18:12] AlanSwift commented on #530
1. 3-6 is for most conditions.
2. This is hard to tell. Please set some metric monitors.

[2022-04-22 18:12] #534 closed

[2022-04-22 18:14] AlanSwift commented on #537
Sure. I will do it soon.

[2022-04-22 18:14] #537 closed

[2022-04-22 18:17] smith-co commented on #556
@AlanSwift also a bit confused here you said, we use separate attention:

1. attention on node embedding
2. attention on node initial embedding.

But the example for NMT is with a GCN. GCN does not use attention. So lost here. Please elaborate so that I can understand the model a little better.

[2022-04-22 18:21] AlanSwift commented on #538
I'm really sorry for the late reply since I'm busy the past few days.
You can uncomment this line and tune these parameters: lr_start_decay_epoch, lr_decay_per_epoch, lr_decay_rate.
The current lr schedule implementation is ExponentialLR.
I suggest you use the official PyTorch implementation: [ExponentialLR](https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.ExponentialLR.html). An

[2022-04-22 18:23] AlanSwift commented on #556
Just an example:
encoder pipeline: RNNencoder --> GNN encoder
decoder pipeline: 1. attention on RNNencoder results 2. attention on GNN encoder results. 3. fuse them

[2022-04-22 18:25] AlanSwift commented on #555
Currently, there is no specific architecture for each application.

[2022-04-22 18:27] AlanSwift commented on #557
I suggest you use the tensorboard. It can do it efficiently.

[2022-04-24 01:36] smith-co commented on #556
@AlanSwift this RNNencoder comes after the word2vec or bert embedding. The document states:

[code]

I do not understand why/how the BiLSTM encoder is used to encode the whole graph. Can you please explain?

[2022-04-24 20:55] nashid commented on #555
@AlanSwift I am confused about the initializaiton of the edge weights. I understand the node embeddings are initialized with word2vec (or BERT) before feeding to the GNN encoder.

But how the edge embeddings are initialized? Can you please explain?

[2022-04-25 07:36] nashid commented on #555
@AlanSwift can you please help with the above query?

[2022-04-25 07:39] smith-co commented on #556
@AlanSwift this part is quite confusing. Why/how do you encode the whole graph with the BiLSTM?

Also for the decoder pipeline, you mentioned:

1. attention on RNNencoder results
2. attention on GNN encoder results.
3. fuse them

Any other paper used this approach? Can you please provide me any reference paper?

Also would appreciate if you provide me with pointers how is it done in the code?

[2022-04-25 15:13] AlanSwift commented on #556
The BiLSTM, Bert are used to initialize the node embedding, which can enrich contextural information. This trick is widely used in NLP&GNN researches [https://arxiv.org/pdf/1908.04942.pdf](https://arxiv.org/pdf/1908.04942.pdf) (only an example).

For technique details, please refer to the [implementations](https://github.com/graph4ai/graph4nlp/blob/1dd4a3cd831f5a991ba122f59ad7dfdd7733f683/graph4nl

[2022-04-25 16:59] smith-co commented on #556
@AlanSwift I not asking about `word2vec` or `BERT` to initialize the node embedding. I am asking why the `BiLSTM` is used after learning `word2vec`  or `BERT` embedding.

[2022-04-25 17:09] AlanSwift commented on #555
Currently, the edge only contains connection signals. It doesn't have embeddings.

[2022-04-25 17:10] AlanSwift commented on #556
Considering the bidirectional sequential information is beneficial for most NLP tasks.

[2022-04-25 17:18] nashid commented on #555
@AlanSwift little bit confused. I see this in the configuration:

[code]

So I thought I was using edge weights. But you are saying currently, edge does not have weight.

In that case, how the edge information helps?

[2022-04-25 17:21] smith-co commented on #556
@AlanSwift got it. But why the BiLSTM encoder to encode the whole graph? I would be thinking that is used to update the embedding for the node. Isn't it?

Is the description incorrect?

[2022-04-25 17:23] AlanSwift commented on #555
Currently, the GNNs such as GCN, GraphSage, GAT, GGNN only use connections.

[2022-04-25 17:25] nashid commented on #555
@AlanSwift got it. Are you aware of any work in the literature that only uses edge for connection signal? I am already looking into your survey paper.

[2022-04-25 17:36] smith-co commented on #556
@AlanSwift the BiLSTM encoder is used to update the embedding for the node embedding. So it appears to me:

1. initialize node embedding with word2vec or BERT
2. update using BiLSTM

Now feed it to the GCN encoder.

Is this understanding correct?

[2022-04-27 13:44] #557 closed

[2022-04-28 19:11] nashid commented on #555
@AlanSwift can you please help us with the above query?

[2022-04-28 19:15] smith-co commented on #556
@AlanSwift I understand bidirectional sequential information is beneficial for NLP tasks. But the BiLSTM encoder updates the initial `word2vec/bert` word embedding before feeding it to the GCN encoder.

So I am confused when you state that `BiLSTM encoder` to encode the whole graph.

Would you please assist me with this question?

[2022-04-28 19:24] code-rex1 commented on #554
@xiao03 wondering whether there is any update? Can I take the `RGCN` code from your branch and try it out for the NMT example?

Please help 🙏 🙏 🙏

[2022-05-01 10:28] schenglee commented on #553
Please refer here: https://docs.google.com/spreadsheets/d/1JrlGtr0uaafZmd31P1P_z6uevjxLSVTX6uJbvWy5fsk/edit#gid=0

[2022-05-01 10:29] #552 closed

[2022-05-03 01:17] nashid opened #561 "IndexError while running the NMT example"
I am running the NMT example but with a different dataset. During inference, I get the following error with `top_k > 1`:

[code]

The problem is it does not happen for all datasets. But it is evident there is a subtle bug in the beam search. Can anyone please help?

[2022-05-06 09:00] yingdajun opened #562 "请问该库包支持CUDA11.2版本嘛"
我的CUDA版本是11.2,请问该库包可以有CUDA11.2版本嘛？

如果我安装CUDA11.0版本，可以嘛

[2022-05-06 10:19] ell-hol opened #563 "ValueError: Number of processes must be at least 1"
## 🐛 Bug

Sudden "ValueError: Number of processes must be at least 1" when running the summarization example

## To Reproduce

Steps to reproduce the behavior:

1. In the stanford coreNLP directory downloaded :
        java -mx4g -cp "*" edu.stanford.nlp.pipeline.StanfordCoreNLPServer -port 9000 -timeout 15000
2. In root of repo:
        python examples/pytorch/summarization/cnn/main.py -g2s_confi

[2022-05-07 06:48] #530 closed

[2022-05-07 06:50] AlanSwift commented on #535
I think this graph is coming soon. The issue will be closed.

[2022-05-07 06:50] #535 closed

[2022-05-12 17:10] #536 closed

[2022-05-12 17:10] AlanSwift commented on #542
Yes. It is a hyper-parameter.

[2022-05-12 17:10] #542 closed

[2022-05-12 17:11] #555 closed

[2022-05-12 17:15] smith-co commented on #542
@AlanSwift `This is determined according to the specific experimental results` Can you please explain?

[2022-05-12 17:15] smith-co commented on #542
@AlanSwift when should I set it and why?

[2022-05-12 17:16] smith-co commented on #542
@AlanSwift should I set it for a classification task?

[2022-05-12 17:18] AlanSwift commented on #542
You have to tune this parameter. There is no clear conclusion.

[2022-05-12 17:18] nashid commented on #536
@AlanSwift do you have a plan to address the GGNN implementation limitation?

[2022-05-12 18:33] cminusQAQ commented on #562
For the CUDA 11.0, you can install our library by using 'pip install graph4nlp-cu110 ' or follow the instruction of installation via source code.
And you can refer to installation via source code for CUDA 11.2 as well.

[2022-05-16 17:44] nashid opened #565 "Transformer as the decoder"
## 🚀 Feature

Currently, RNNs are used as the decoder. It would be great to have an implementation of Transformer as the decoder.

[2022-05-16 17:48] nashid opened #566 "RGCN implementation"
## ❓ Questions and Help

RGCN implementation is in the feature implementation phase to the best of my understanding. I wonder how long would it take for the next release?

[2022-05-18 08:41] infosel-it opened #567 "Summarization : AttributeError: 'Graph2Seq' object has no attribute 'graph_topology'"
## 🐛 Bug

Hi

Summarization task is executed with CNN data set. For training and testing took only 100 stories. After executing the following error occurred.

AttributeError: 'Graph2Seq' object has no attribute 'graph_topology'

The error is occurred during the translate in main.py of summarization.

batch_graph = self.model.g2s.graph_topology(data["graph_data"])

But while executing inference_adv

[2022-05-21 03:04] Nicoleqwerty commented on #567
Hi @infosel-it , you can the change "graph_topology" in line 336 to "graph_initializer". We will fix this bug in next version. "graph_topology" is used for dynamic graph construction and here we use static graph construction for summarization task.

[2022-05-27 00:59] hugochan commented on #567
Hi @infosel-it , thanks for reporting the issue! Close this issue for now. Please feel free to reopen it if the suggested fix does not resolve your issue. As mentioned, we will release a new version soon which will fix this issue.

[2022-05-27 00:59] #567 closed

[2022-05-27 01:02] hugochan commented on #566
@nashid thanks for checking in! Yes, we have finished the implementation and testing of RGCN. We will release a new version very soon with RGCN and other new features. Currently, we are actively testing the other features which we are planning to release together with RGCN. Please stay tuned!

[2022-05-27 01:02] #566 closed

[2022-05-27 03:32] #553 closed

[2022-05-27 03:35] #551 closed

[2022-05-27 03:37] nashid commented on #566
@hugochan this is great news. Do you have any timeline in mind?

[2022-05-27 03:39] #540 closed

[2022-05-27 03:40] #538 closed

[2022-05-27 03:45] hugochan commented on #566
We are aiming to release the new version in June.

[2022-05-27 04:08] SaizhuoWang commented on #547
Currently `GraphData` does not support the feature of visualization. You may convert it to another type (e.g. networkx.Graph) for visualization.

[2022-05-27 04:08] #547 closed

[2022-05-28 03:00] xiao03 commented on #565
The transformer decoder is in our consideration and some initial work has been done. Please stay tuned for the development plans.

[2022-05-28 03:00] #565 closed

[2022-06-03 07:33] Nicoleqwerty commented on #563
I guess you set "thread_number" to 0 in gcn_bisep.yaml. You can set it to a number greater than 0 and less than the number of cpu threads. For example, you can use `grep 'processor' /proc/cpuinfo | sort -u | wc -l` on Linux to check the number of cpu threads.

[2022-06-10 09:00] Nolanogenn opened #568 "NMT with custom graph"
Hi and thanks for this library.
Since it is not very clear from the examples / documentation, I wanted to ask whether is it possible to train an NMT model starting from custom graphs (which I currently store in several GraphData objects, one per sentence).
Thanks in advance!

[2022-06-16 22:31] nashid commented on #496
@AlanSwift wondering when the RGCN implementation would be available?

[2022-06-24 03:19] smith-co opened #569 "Contrastive learning with graph neural network"
## 🚀 Feature
It would be awesome if the framework provides an example of contrastive learning with GNN.
For example, an implementation similar to SimCLR would be great.

[2022-06-24 03:20] smith-co commented on #496
When the new release would be announced?

[2022-06-24 03:21] smith-co commented on #548
@schenglee I would be interested to contribute in this pull request. Can you please provide some pointers?

[2022-06-25 01:45] qmnxxy opened #570 "make -j4 have. a bug on M1 macbook"
## ❓ Questions and Help
/Users/lvkun/code/dgl/src/runtime/semaphore_wrapper.cc:73:17: error: use of undeclared identifier 'sem_timedwait'
/Users/lvkun/code/dgl/src/runtime/semaphore_wrapper.cc:73:17: error: use of undeclared identifier 'sem_timedwait'
  while ((ret = sem_timedwait(&sem_, &ts) != 0) && errno == EINTR) {
                ^
1 warning and 1 error generated.
make[2]: *** [CMakeFiles/dgl

[2022-06-29 06:06] hugochan commented on #570
@qmnxxy Can you share more context (e.g., your pytorch version, graph4nlp version, what are you trying to achieve) with us to reproduce this error?

[2022-06-29 06:10] hugochan commented on #569
@smith-co thanks for your interest to our library and for your suggestion! We are always happy to implement more SOTA GNN models for NLP tasks. Can you share more context (e.g., any relevant paper on contrastive learning with GNN for NLP) to help us understand why you think this will be a great example to include in the library?

[2022-06-29 14:32] noelsjw opened #571 "Bug when run test_embedding_construction.py to initialize vocab_model"
[code]

When run the above codes, a bug occurs. "AttributeError: 'list' object has no 'extract' attribute".  It seems that when initialize a VocabMode class, the __init__ function run the instance.extract() where the instance is a list of str as illustrated in your comment. However, the list has not the 'extract' attribute. Could you please fix the bug, or please provide another example to initial

[2022-06-30 08:54] sunnyeo opened #572 "How can I use copy mechanism with multi-token nodes?"
Thank you for developing such a nice library!

I have a problem when using the graph2seq model with my custom graph which has multi-token nodes.

I set the config file as follows to use the decoder's copy mechanism with multi_token nodes:
[code]

However, I encountered the following error:
[code]

This error occurs since `src_seq` has 3 dimensions but `output` has 2 dimensions.
How can I handle th

[2022-07-14 05:21] nashid opened #573 "RGCN implementation"
## ❓ Questions and Help

It's quite a while now. So following up. Wondering whether the RGCN implementation is available now in a branch?

I wonder how long would it take for the next release?

[2022-08-02 18:34] nashid commented on #467
@firqaaa to the best of my knowledge we can only import from

[code]

Link: https://graph4ai.github.io/graph4nlp/guide/graphdata/construct.html#importing-from-other-sources

[2022-08-03 02:26] firqaaa opened #574 "How to create data.pt, vocab.pt, and label.pt for custom dataset?"
## ❓ Questions and Help

I have follow your tutorial on how to using graph4nlp for text classification using the trec data. So i try to create custom dataset for my imdb sentiment analysis. I have create all the .txt files both train and test. After that i change the .yaml file, create the custom dataset using Text2LabelDataset, and run the same code. Everything is fine but in the process it take

[2022-08-03 14:32] AlanSwift commented on #574
Can you give the statistics such as sample amount, and mean token number in a sentence of your corpus?

[2022-08-03 16:47] AlanSwift commented on #574
For both train and test split.

[2022-08-03 18:57] nashid commented on #573
@AlanSwift wondering do you have any update 🙏 ?

[2022-08-03 19:00] smith-co opened #575 "Support for transformer as the decoder"
🚀 Feature

In the current implementation, RNNs are used as the decoder.

I think it would be great to have Transformer as the decoder.

Wondering whether this feature is already under consideration.

Also if support the transformer implementation, when that feature would be availble?

[2022-08-04 15:27] AlanSwift commented on #573
Sorry for the late reply. It will come soon. We have delayed it since we have been busy the past two months.

[2022-08-04 20:14] smith-co commented on #573
@AlanSwift I am also waiting for this feature. Any idea when this feature would be available? Would appreciate your help.

[2022-08-05 05:21] AlanSwift commented on #574
I think you had better check whether StanfordCoreNLP runs successfully. For example, you can input "top" in your terminal and find the java process.

[2022-08-05 07:13] code-rex1 commented on #554
@xiao03 wondering any update in this regard?

[2022-08-05 07:14] code-rex1 commented on #566
@hugochan when this would be released? Do you have a timeline in mind?

[2022-08-05 07:15] code-rex1 commented on #496
@AlanSwift @hugochan @teddylfwu @SaizhuoWang @xiao03  wondering when this library version would be released 🙏 🙏 🙏 ?

[2022-08-05 07:23] AlanSwift commented on #496
Reply to all: We will have a meeting this weekend. I think the new release will come in two weeks.

[2022-08-05 20:13] code-rex1 commented on #496
@AlanSwift this is a great library for GNN. Looking forward to the release specially the implementation of RGCN.

Also if you could support transformer in the future, would a great feature for this useful library.

[2022-08-06 02:40] AlanSwift commented on #496
Yes. The full support of the transformer is on schedule. The transformer encoder will release in the next coming version. And the transformer decoder will come soon (on test).

[2022-08-06 08:49] smith-co opened #576 "Does having more edges on a GNN helps learning?"
I am using a NMT task using the Graph2Seq graph neutral network. I am the GCN as my encoder.

Graph stats:

- I have around 400 nodes in the graph per data point.
- In the current graph, on average, a node is connected to 3.5 neighbours.
- And I have more semantic edges to add between nodes.

But logically does adding more edges help a GNN model?

I guess adding more semantic edges might help the

[2022-08-06 10:48] AlanSwift commented on #544
This issue will be closed. Feel free to reopen it if needed.

[2022-08-06 10:48] #544 closed

[2022-08-06 10:49] AlanSwift commented on #548
This issue will be closed. Feel free to reopen it if needed.

[2022-08-06 10:49] #548 closed

[2022-08-06 10:49] AlanSwift commented on #556
This issue will be closed. Feel free to reopen it if needed.

[2022-08-06 10:49] #556 closed

[2022-08-06 10:50] AlanSwift commented on #561
This issue will be closed. Feel free to reopen it if needed.

[2022-08-06 10:50] #561 closed

[2022-08-06 10:50] AlanSwift commented on #563
This issue will be closed. Feel free to reopen it if needed.

[2022-08-06 10:50] #563 closed

[2022-08-06 10:50] AlanSwift commented on #569
This issue will be closed. Feel free to reopen it if needed.

[2022-08-06 10:50] #569 closed

[2022-08-06 10:51] AlanSwift commented on #568
Sorry for the late reply. Do you still have problems with customizing the dataset?

[2022-08-06 10:51] AlanSwift commented on #570
This issue will be closed. Feel free to reopen it if needed.

[2022-08-06 10:51] #570 closed

[2022-08-06 10:53] AlanSwift commented on #573
As the reply in the roadmap, the RGCN will come soon with the next release in about two weeks.

[2022-08-06 10:58] AlanSwift commented on #576
Thanks for your interest. The following are some personal insights.
For Q1: Yes. The edges contain more information that can usually help the down tasks.
For Q2: I think the coverage speed is not guaranteed. When the graph is simple, it still coverage fast. And adding the edges will bring additional computation costs, which can reduce the training speed in some way.  So I suggest you compare the d

[2022-08-06 11:01] AlanSwift commented on #575
Thanks for your interest in the library.
We agree that transformer is needed and it is on schedule. I have replied it in https://github.com/graph4ai/graph4nlp/issues/496#issuecomment-1207130759.

[2022-08-06 11:03] AlanSwift commented on #572
I apologize for the late reply since we have been busy during the past two months. Do you still have the problem?

[2022-08-06 11:05] AlanSwift commented on #572
Our implementation of copy doesn't support the multi-token copy. I think you should customize it. A straightforward way is to learn a hierarchical copy: I mean first copy the node, and then copy the specific token in the node.

[2022-08-06 11:11] AlanSwift commented on #571
I apologize for the late reply since we have been busy during the past two months.
This is due to the inconsistency of the doc. The variable [data_set](https://github.com/graph4ai/graph4nlp/blob/d65401bca16d15024edb68ad5e57a774c60cf881/graph4nlp/pytorch/modules/utils/vocab_utils.py#L72) should be the list of DataItem. We will fix it ASAP in the next coming release.

[2022-09-03 21:29] smith-co commented on #573
@AlanSwift great work with the library. Wondering when the RGCN would be available?

[2022-09-03 21:30] smith-co commented on #496
@AlanSwift looking forward to use the transformer encoder 🥇. When would it be release?

[2022-09-03 21:32] smith-co commented on #576
Thanks for the feedback.

For a large graph, would adding edges reduce the converge speed?

[2022-09-04 06:15] mahmodDAHOL opened #577 "plot graph"
## ❓ Questions and Help
there is a way to plot "GraphData" object in a figure??

[2022-09-15 03:34] smith-co commented on #496
Wondering what's the tentative timeline for this release.

[2022-09-18 18:30] AlanSwift commented on #576
I think it depends on your specific design. Adding useful edges will certainly help message passing. But if you add negative edges, I guess it harms the performance.

[2022-09-18 18:30] #575 closed

[2022-09-18 18:33] AlanSwift commented on #496
We are still discussing it #578. We still need 2-3 weeks to make it ready since it covers many features. @smith-co

[2022-09-18 18:33] AlanSwift commented on #573
Please refer to our roadmap for the RGCN. This issue will be closed.

[2022-09-18 18:33] #573 closed

[2022-09-18 18:34] #568 closed

[2022-09-18 18:34] #571 closed

[2022-09-18 18:34] #572 closed

[2022-09-18 18:34] #574 closed

[2022-09-18 18:35] AlanSwift commented on #577
Currently, there is no visualization tool for "GraphData".

[2022-09-22 05:41] NageshMashette opened #580 "Error while running Text Classification pipeline."
While running the below code :

!python -m examples.pytorch.text_classification.run_text_classifier -config examples/pytorch/text_classification/config/trec/gat_bi_fuse_constituency.yaml

, for the location (out/trec/gat_bi_fuse_constituency_ckpt), i am getting the error  **OSError: [Errno 30] Read-only file system: 'out'**

[2022-10-13 02:42] weibifan opened #581 "真的很难用"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. 按要求安装了graph4nlp
2. 启动了CoreNLP
3. 运行主页面的例子报错

连自己的例子都无法运行。

## Expected behavior

## Environment

 - Graph4NLP Version (e.g., 0.4.1):
 - Backend Library & Version (e.g., PyTorch 1.6.0):
 - OS (e.g., Linux):
 - How you installed Graph4NLP (`pip`, source):
 - Build command you used (if compiling from source):
 - Python version:
 - CUDA/c

[2022-10-13 08:43] AlanSwift commented on #581
Hello!
Sorry for the inconvenience. Could you attach the error message?

[2022-10-13 09:01] AlanSwift commented on #580
Hello!
Sorry for the inconvenience.
I have installed the library on a new machine with V100 GPU, ubuntu 20 system. However, I can't reproduce the error message. Please provide us with more specific details such as environment, gpu, et.al.
<img width="635" alt="image" src="https://user-images.githubusercontent.com/18572829/195552469-edb73485-3f10-4504-ae23-67efb3d6eb0e.png">

[2022-10-13 13:45] mahmodDAHOL commented on #577
I made edit on your source code in order to make user able to visualise
DataItem object's graph to html page using vis package.
Can i make push request on your repo?

في الخميس، ١٣ أكتوبر ٢٠٢٢ ١١:٤٥ ص Kai Shen ***@***.***> كتب:

[2022-10-13 13:52] AlanSwift commented on #577
@mahmodDAHOL
Thanks for your interest and contribution. Any pr is welcomed! Please make the pr and provide detailed information (e.g., the purpose and the command to use this feature).

[2022-10-27 16:31] AlanSwift commented on #580
This issue will be closed. Please reopen it if you have any problems.

[2022-10-27 16:31] #580 closed

[2022-11-04 01:51] nashid commented on #496
@AlanSwift wondering when the RGCN implementation would be available?

[2022-11-19 04:10] nashid commented on #577
@mahmodDAHOL are you planning to add it? It will a very nice feature to the library.

[2022-11-19 12:54] AlanSwift commented on #496
We have almost finished the implementation and currently are testing on down tasks. We are sorry we delayed too much time since it is a big feature migration from the homogeneous graph to the heterogeneous graph.

[2022-11-19 14:50] AlanSwift commented on #577
Currently, it is not on our plan. Any pr is welcomed if you are interested!

[2022-11-19 22:59] nashid commented on #496
Really looking forward to it. Thanks @AlanSwift